@open_sans: 'Open sans';
.txt-open_sans{font-family:@open_sans;}
@droid_sans: 'Droid Sans';
.txt-droid_sans{font-family:@droid_sans;}
@montserrat: 'Montserrat';
.txt-montserrat{font-family:@montserrat;}
