@pink: #ff00ff;
@pink_name: ~'pink';
.generate-color(@pink,@pink_name);
@vert: #00ff00;
@vert_name: ~'vert';
.generate-color(@vert,@vert_name);
@primaire: #00009e;
@primaire_name: ~'primaire';
.generate-color(@primaire,@primaire_name);
