@import "init";

/*
   Theming of the content page layout
*/
.content-page-layout{
  @include container();

  // Groups layout
  .group-banner{
    @include span(100%);
    position:relative;
  }

  .group-breadcrumb{
    @include span(100% break);

    @include breakpoint(5 * $tile_area){
      @include span(50% isolate at 0 break);
    }
  }

  .group-social{
    text-align:center;
    @include span(100% break);

    @include breakpoint(5 * $tile_area){
      text-align:right;
      @include span(50% isolate at 50% nobreak);
    }

  }

  .group-ad,
  .content-holder,
  .group-middle,
  .group-ad-bottom,
  .group-slots,
  .group-block-grid,
  .group-footer{
    @include span(100% break);
  }

  .group-middle{
    padding-bottom:30px;
  }

  .group-menu,
  .main-holder{
    @include span(100%);
  }

  .group-ad,
  .group-ad-bottom{
    padding:10px;
  }

  .group-ad{
    padding: 0 0 10px;
    overflow:hidden;

    //Special for the ad's size
    .field--radio-page-top-ad{
      max-width:728px;
      min-height:90px;
      margin:0 auto;
    }
  }

  // When there is a sidebar
  &.have-sidebar{

    //  2,3,4 tiles
    .main-holder{
      @include span(100%);
      padding:0px 10px;
    }

    .group-sidebar{
      @include span(100% break);
      padding:0px 10px;
    }

    //  5 tiles
    @include breakpoint(5 * $tile_area){
        .main-holder{
          @include span(3 * $tile_area isolate at 0);
        }

        .group-sidebar{
          @include span(2 * $tile_area isolate at (3 * $tile_area) nobreak);
        }
    }

    //  6 tiles
    @include breakpoint(6 * $tile_area){
        .main-holder{
          @include span(4 * $tile_area isolate at 0);
        }

        .group-sidebar{
          @include span(2 * $tile_area isolate at (4 * $tile_area) nobreak);
        }
    }

    //  7 tiles
    @include breakpoint(7 * $tile_area){
        .main-holder{
          @include span(5 * $tile_area isolate at 0);
        }

        .group-sidebar{
          @include span(2 * $tile_area isolate at (5 * $tile_area) nobreak);
        }
    }
  }

  // When there is comments
  &.content-and-comments{

    //  2,3,4 tiles
    .group-middle{
      @include span(100%);
    }

    .group-comments{
      @include span(100% break);
    }

    //  5,6,7 tiles
    @include breakpoint(5 * $tile_area){
        .group-middle{
          @include span(50% break isolate at 0);
        }

        .group-comments{
          @include span(50% isolate at 50% nobreak);
        }
    }

  }

  #page--title{
    margin: 5px 0;

    padding:0;
    font-size:1.4em;
    text-align:center;

    overflow:hidden;
    text-overflow:ellipsis;
    white-space: normal;

    @include breakpoint(5 * $tile_area){
      position:absolute;
      margin:0;
      font-size:1.7em;
      text-align:right;
      padding:5px 10px 5px 0;
      top:25%;
      right:0;
      width:80%;
      max-width:80%;
      background:rgba(white,0.8);
      z-index:4;
      white-space:nowrap;

    }
  }

  &.no-banner{
    #page--title,
    .ctxt-subtitle{
      position:relative;
      width: 100%;
      max-width: 100%;
      text-align: left;
      margin-top:0;
    }
  }

  // Common Fields that will be used most of time for the content page
  .group-banner .field--logos,
  .group-banner .ctxt-logo{
    position:absolute;
    // top:10.78%;
    top:4%;
		left:2.78%;
		width:15%;
		max-height:50%;

    img{
      @include box-shadow(0px 0px 18px rgba(black,0.8));
      max-height:100%;
    }

    @include breakpoint(5 * $tile_area){
      margin-top:0;
    }

    @include breakpoint(7 * $tile_area){
      top:11%;
    }
  }

  .ctxt-subtitle,
  .field--slogans{
    text-align:center;
    font-size:0.8em;
    font-style:italic;

    overflow:hidden;
    text-overflow:ellipsis;

    padding:5px 10px 5px 10px;
    right:0;
    background:rgba(white,0.8);
    z-index:4;

    width: 100%;
    max-width: 100%;
    top: 50%;


    @include breakpoint(5 * $tile_area){
      position:absolute;
      text-align:right;
      font-size:1em;
      margin-top:3em;
      width: 60%;
      max-width: 60%;
      top: 25%;
      white-space:nowrap;
    }
  }

  .breadcrumb,
  .field--breadcrumb ul{
    margin:5px 0;
    padding:0;
  }

  .field--social-share-this{
    display:inline-block;
    padding:2px;
    border:1px solid #ccc;
    background:#eee;

    span{
      @include box-sizing(content-box);
    }
  }

  .field--radio-menu-sidebar-{
    ul,li{
      list-style:none;
      margin:0;
      padding:0;
    }

    li{
      float:left;
      width:50%;
      font-size:1em;

      &.active{
        display:none;
      }

      a{
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        text-transform:uppercase;

        display:block;
        padding:10px;
        text-decoration:none;
        color:$textcolor;
        background:#eee;

        @include transitions();

        .g-icon{
          margin-right: 5px;
        }

        &:hover{
          background:#ccc;
        }
      }

      @include breakpoint(5 * $tile_area){
        font-size:1.1em;
        border-bottom:3px solid $default;
        width:25%;
      }
    }
  }

  // THeming group components. Fields, tables, etc...
  .have-ctxt-title.have-ctxt-desc{
    min-height: 160px;
    margin: 20px 0;
  }

  .group-middle .field,
  .have-ctxt-title.have-ctxt-desc{
    position:relative;

    .ctxt-title,
    .field-label{
      font-family:'Fjalla One';
      text-transform:uppercase;
      text-align:center;
      border-bottom:3px solid;

      @include breakpoint(5 * $tile-area){
        position:absolute;
        margin:0;
        padding:0 10px;
        @include transform(rotate(-90deg) translateX(-100%));
        @include transform-origin(left,top);
      }
    }

    .ctxt-desc,
    .field-data{
      @include breakpoint(5 * $tile-area){
        padding-left:40px;
      }
    }
  }

  .group-block-grid{
    .dataTables_filter{
      text-align: right;
      margin-bottom: 10px;
    }

    table{
      width:100%;

      th,
      td{
        padding:5px 10px;
      }

      .sorting_asc,
      .sorting_desc{
        position:relative;

        &::after{
          position:absolute;
          right:10px;
          font-family:"gb-font";
          content: "\f0d8";
        }
      }

      .sorting_desc::after{
        content: "\f0d7";
      }
    }
  }
}

.gb-ctxt-logo-and-banner,
.gb-ctxt-banner-content{

  position:relative;
}

.gb-ctxt-contexts-menu{

  @include span(100% break isolate at 0);
  padding:0;
  margin-top: 10px;
  margin-bottom: 0;

  li{
    font-family:'Fjalla One';
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    float:left;
    display:inline-block;
    font-size:1.1em;
    line-height: 0.7em;
    overflow:hidden;
    width:50%;
    @include perspective(1200);

    @include breakpoint(5 * $tile-area){
      width:25%;
    }

    &:before{
      overflow:hidden;
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:$default;
      content:"";
      @include transitions();
      @include transform(rotateX(-90deg));
      @include transform-origin(0,0);
    }

    &:hover {

      a{
        background:rgba(#eee,0);
        color:white;
        font-weight:bold;
      }

      .g-icon{
        border-right:2px solid white;
      }

      &:before{
        top:0;
        @include transform(rotateX(0deg));
      }
    }
  }

  a{
    width:100%;
    position:relative;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-transform:uppercase;
    display:inline-block;
    background:#eee;
    padding:5px 10px;
    text-decoration:none;
    text-transform:uppercase;
    color:$textcolor;

    @include breakpoint(5 * $tile-area){
      border-bottom:3px solid $default;
    }

    @include transitions();

    &.active{
      display:none;
    }
  }

  .g-icon{
    display:inline-block;
    padding:5px;
    margin-right:5px;
    border-right:2px solid transparent;

    &.conceal{
      @include opacity(0);
    }
  }

}

#block-block-2,
#block-block-6,
#block-block-5{
  width:100%;
  min-height:100px;
  padding:10px;
}


// For the inline-edit
.gb-ctxt-inline-edit{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:100;
  background:white;
  display:none;

  .inline-edited &{
    display:block;
  }

  .form-text{
    max-width: 100%;
    border:none;
    background:transparent;
    padding:5px;
  }

  .form-actions{
    position:absolute;
    top:100%;
    right:0;
    font-size:14px;
  }

  .no-banner &{
    .form-text{
      text-align:left!important;
      width:100%;
    }
  }
}

#page--title,
.ctxt-subtitle{
  &.inline-edited{
    overflow:visible;
    z-index:100;
  }

  .gb-ctxt-inline-edit{
    .form-text{
      text-align:right;
    }
  }
}
