@font-face {
    font-family: 'caviar_dreams';
    src: url('web_fonts/caviardreams_regular_macroman/CaviarDreams-webfont.eot');
    src: url('web_fonts/caviardreams_regular_macroman/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('web_fonts/caviardreams_regular_macroman/CaviarDreams-webfont.woff') format('woff'),
         url('web_fonts/caviardreams_regular_macroman/CaviarDreams-webfont.ttf') format('truetype'),
         url('web_fonts/caviardreams_regular_macroman/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

font-face {
    font-family: 'caviar_dreams';
    src: url('web_fonts/caviardreams_bold_macroman/CaviarDreams-webfont.eot');
    src: url('web_fonts/caviardreams_bold_macroman/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('web_fonts/caviardreams_bold_macroman/CaviarDreams-webfont.woff') format('woff'),
         url('web_fonts/caviardreams_bold_macroman/CaviarDreams-webfont.ttf') format('truetype'),
         url('web_fonts/caviardreams_bold_macroman/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

font-face {
    font-family: 'caviar_dreams';
    src: url('web_fonts/caviardreams_italic_macroman/CaviarDreams-webfont.eot');
    src: url('web_fonts/caviardreams_italic_macroman/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('web_fonts/caviardreams_italic_macroman/CaviarDreams-webfont.woff') format('woff'),
         url('web_fonts/caviardreams_italic_macroman/CaviarDreams-webfont.ttf') format('truetype'),
         url('web_fonts/caviardreams_italic_macroman/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: italic;
}

font-face {
    font-family: 'caviar_dreams';
    src: url('web_fonts/caviardreams_bolditalic_macroman/CaviarDreams-webfont.eot');
    src: url('web_fonts/caviardreams_bolditalic_macroman/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('web_fonts/caviardreams_bolditalic_macroman/CaviarDreams-webfont.woff') format('woff'),
         url('web_fonts/caviardreams_bolditalic_macroman/CaviarDreams-webfont.ttf') format('truetype'),
         url('web_fonts/caviardreams_bolditalic_macroman/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: bold;
    font-style: italic;
}
