/*
   Theming of the content page layout
*/
/* line 6, ../sass/ds_cp.scss */
.content-page-layout {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.content-page-layout:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 10, ../sass/ds_cp.scss */
.content-page-layout .group-banner {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  position: relative;
}
/* line 15, ../sass/ds_cp.scss */
.content-page-layout .group-breadcrumb {
  clear: both;
  width: 100%;
  float: left;
  margin-right: 5.26316%;
}
@media (min-width: 800px) {
  /* line 15, ../sass/ds_cp.scss */
  .content-page-layout .group-breadcrumb {
    clear: both;
    width: 50%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
}
/* line 23, ../sass/ds_cp.scss */
.content-page-layout .group-social {
  text-align: center;
  clear: both;
  width: 100%;
  float: left;
  margin-right: 5.26316%;
}
@media (min-width: 800px) {
  /* line 23, ../sass/ds_cp.scss */
  .content-page-layout .group-social {
    text-align: right;
    clear: none;
    width: 50%;
    float: left;
    margin-left: 50%;
    margin-right: -100%;
  }
}
/* line 34, ../sass/ds_cp.scss */
.content-page-layout .group-ad,
.content-page-layout .content-holder,
.content-page-layout .group-middle,
.content-page-layout .group-ad-bottom,
.content-page-layout .group-slots,
.content-page-layout .group-block-grid,
.content-page-layout .group-footer {
  clear: both;
  width: 100%;
  float: left;
  margin-right: 5.26316%;
}
/* line 44, ../sass/ds_cp.scss */
.content-page-layout .group-middle {
  padding-bottom: 30px;
}
/* line 48, ../sass/ds_cp.scss */
.content-page-layout .group-menu,
.content-page-layout .main-holder {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
}
/* line 53, ../sass/ds_cp.scss */
.content-page-layout .group-ad,
.content-page-layout .group-ad-bottom {
  padding: 10px;
}
/* line 58, ../sass/ds_cp.scss */
.content-page-layout .group-ad {
  padding: 0 0 10px;
  overflow: hidden;
}
/* line 63, ../sass/ds_cp.scss */
.content-page-layout .group-ad .field--radio-page-top-ad {
  max-width: 728px;
  min-height: 90px;
  margin: 0 auto;
}
/* line 74, ../sass/ds_cp.scss */
.content-page-layout.have-sidebar .main-holder {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  padding: 0px 10px;
}
/* line 79, ../sass/ds_cp.scss */
.content-page-layout.have-sidebar .group-sidebar {
  clear: both;
  width: 100%;
  float: left;
  margin-right: 5.26316%;
  padding: 0px 10px;
}
@media (min-width: 800px) {
  /* line 86, ../sass/ds_cp.scss */
  .content-page-layout.have-sidebar .main-holder {
    width: 480px;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
  /* line 90, ../sass/ds_cp.scss */
  .content-page-layout.have-sidebar .group-sidebar {
    clear: none;
    width: 320px;
    float: left;
    margin-left: 480px;
    margin-right: -100%;
  }
}
@media (min-width: 960px) {
  /* line 97, ../sass/ds_cp.scss */
  .content-page-layout.have-sidebar .main-holder {
    width: 640px;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
  /* line 101, ../sass/ds_cp.scss */
  .content-page-layout.have-sidebar .group-sidebar {
    clear: none;
    width: 320px;
    float: left;
    margin-left: 640px;
    margin-right: -100%;
  }
}
@media (min-width: 1120px) {
  /* line 108, ../sass/ds_cp.scss */
  .content-page-layout.have-sidebar .main-holder {
    width: 800px;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
  /* line 112, ../sass/ds_cp.scss */
  .content-page-layout.have-sidebar .group-sidebar {
    clear: none;
    width: 320px;
    float: left;
    margin-left: 800px;
    margin-right: -100%;
  }
}
/* line 122, ../sass/ds_cp.scss */
.content-page-layout.content-and-comments .group-middle {
  width: 100%;
  float: left;
  margin-right: 5.26316%;
}
/* line 126, ../sass/ds_cp.scss */
.content-page-layout.content-and-comments .group-comments {
  clear: both;
  width: 100%;
  float: left;
  margin-right: 5.26316%;
}
@media (min-width: 800px) {
  /* line 132, ../sass/ds_cp.scss */
  .content-page-layout.content-and-comments .group-middle {
    clear: both;
    width: 50%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
  /* line 136, ../sass/ds_cp.scss */
  .content-page-layout.content-and-comments .group-comments {
    clear: none;
    width: 50%;
    float: left;
    margin-left: 50%;
    margin-right: -100%;
  }
}
/* line 143, ../sass/ds_cp.scss */
.content-page-layout #page--title {
  margin: 5px 0;
  padding: 0;
  font-size: 1.4em;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
@media (min-width: 800px) {
  /* line 143, ../sass/ds_cp.scss */
  .content-page-layout #page--title {
    position: absolute;
    margin: 0;
    font-size: 1.7em;
    text-align: right;
    padding: 5px 10px 5px 0;
    top: 25%;
    right: 0;
    width: 80%;
    max-width: 80%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 4;
    white-space: nowrap;
  }
}
/* line 172, ../sass/ds_cp.scss */
.content-page-layout.no-banner #page--title,
.content-page-layout.no-banner .ctxt-subtitle {
  position: relative;
  width: 100%;
  max-width: 100%;
  text-align: left;
  margin-top: 0;
}
/* line 183, ../sass/ds_cp.scss */
.content-page-layout .group-banner .field--logos,
.content-page-layout .group-banner .ctxt-logo {
  position: absolute;
  top: 4%;
  left: 2.78%;
  width: 15%;
  max-height: 50%;
}
/* line 192, ../sass/ds_cp.scss */
.content-page-layout .group-banner .field--logos img,
.content-page-layout .group-banner .ctxt-logo img {
  -moz-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.8);
  max-height: 100%;
}
@media (min-width: 800px) {
  /* line 183, ../sass/ds_cp.scss */
  .content-page-layout .group-banner .field--logos,
  .content-page-layout .group-banner .ctxt-logo {
    margin-top: 0;
  }
}
@media (min-width: 1120px) {
  /* line 183, ../sass/ds_cp.scss */
  .content-page-layout .group-banner .field--logos,
  .content-page-layout .group-banner .ctxt-logo {
    top: 11%;
  }
}
/* line 206, ../sass/ds_cp.scss */
.content-page-layout .ctxt-subtitle,
.content-page-layout .field--slogans {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 10px 5px 10px;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 4;
  width: 100%;
  max-width: 100%;
  top: 50%;
}
@media (min-width: 800px) {
  /* line 206, ../sass/ds_cp.scss */
  .content-page-layout .ctxt-subtitle,
  .content-page-layout .field--slogans {
    position: absolute;
    text-align: right;
    font-size: 1em;
    margin-top: 3em;
    width: 60%;
    max-width: 60%;
    top: 25%;
    white-space: nowrap;
  }
}
/* line 237, ../sass/ds_cp.scss */
.content-page-layout .breadcrumb,
.content-page-layout .field--breadcrumb ul {
  margin: 5px 0;
  padding: 0;
}
/* line 243, ../sass/ds_cp.scss */
.content-page-layout .field--social-share-this {
  display: inline-block;
  padding: 2px;
  border: 1px solid #ccc;
  background: #eee;
}
/* line 249, ../sass/ds_cp.scss */
.content-page-layout .field--social-share-this span {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 255, ../sass/ds_cp.scss */
.content-page-layout .field--radio-menu-sidebar- ul, .content-page-layout .field--radio-menu-sidebar- li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 261, ../sass/ds_cp.scss */
.content-page-layout .field--radio-menu-sidebar- li {
  float: left;
  width: 50%;
  font-size: 1em;
}
/* line 266, ../sass/ds_cp.scss */
.content-page-layout .field--radio-menu-sidebar- li.active {
  display: none;
}
/* line 270, ../sass/ds_cp.scss */
.content-page-layout .field--radio-menu-sidebar- li a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333333;
  background: #eee;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
/* line 284, ../sass/ds_cp.scss */
.content-page-layout .field--radio-menu-sidebar- li a .g-icon {
  margin-right: 5px;
}
/* line 288, ../sass/ds_cp.scss */
.content-page-layout .field--radio-menu-sidebar- li a:hover {
  background: #ccc;
}
@media (min-width: 800px) {
  /* line 261, ../sass/ds_cp.scss */
  .content-page-layout .field--radio-menu-sidebar- li {
    font-size: 1.1em;
    border-bottom: 3px solid #E67010;
    width: 25%;
  }
}
/* line 302, ../sass/ds_cp.scss */
.content-page-layout .have-ctxt-title.have-ctxt-desc {
  min-height: 160px;
  margin: 20px 0;
}
/* line 307, ../sass/ds_cp.scss */
.content-page-layout .group-middle .field,
.content-page-layout .have-ctxt-title.have-ctxt-desc {
  position: relative;
}
/* line 311, ../sass/ds_cp.scss */
.content-page-layout .group-middle .field .ctxt-title,
.content-page-layout .group-middle .field .field-label,
.content-page-layout .have-ctxt-title.have-ctxt-desc .ctxt-title,
.content-page-layout .have-ctxt-title.have-ctxt-desc .field-label {
  font-family: 'Fjalla One';
  text-transform: uppercase;
  text-align: center;
  border-bottom: 3px solid;
}
@media (min-width: 800px) {
  /* line 311, ../sass/ds_cp.scss */
  .content-page-layout .group-middle .field .ctxt-title,
  .content-page-layout .group-middle .field .field-label,
  .content-page-layout .have-ctxt-title.have-ctxt-desc .ctxt-title,
  .content-page-layout .have-ctxt-title.have-ctxt-desc .field-label {
    position: absolute;
    margin: 0;
    padding: 0 10px;
    -moz-transform: rotate(-90deg) translateX(-100%);
    -ms-transform: rotate(-90deg) translateX(-100%);
    -webkit-transform: rotate(-90deg) translateX(-100%);
    transform: rotate(-90deg) translateX(-100%);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
  }
}
@media (min-width: 800px) {
  /* line 327, ../sass/ds_cp.scss */
  .content-page-layout .group-middle .field .ctxt-desc,
  .content-page-layout .group-middle .field .field-data,
  .content-page-layout .have-ctxt-title.have-ctxt-desc .ctxt-desc,
  .content-page-layout .have-ctxt-title.have-ctxt-desc .field-data {
    padding-left: 40px;
  }
}
/* line 336, ../sass/ds_cp.scss */
.content-page-layout .group-block-grid .dataTables_filter {
  text-align: right;
  margin-bottom: 10px;
}
/* line 341, ../sass/ds_cp.scss */
.content-page-layout .group-block-grid table {
  width: 100%;
}
/* line 344, ../sass/ds_cp.scss */
.content-page-layout .group-block-grid table th,
.content-page-layout .group-block-grid table td {
  padding: 5px 10px;
}
/* line 349, ../sass/ds_cp.scss */
.content-page-layout .group-block-grid table .sorting_asc,
.content-page-layout .group-block-grid table .sorting_desc {
  position: relative;
}
/* line 353, ../sass/ds_cp.scss */
.content-page-layout .group-block-grid table .sorting_asc::after,
.content-page-layout .group-block-grid table .sorting_desc::after {
  position: absolute;
  right: 10px;
  font-family: "gb-font";
  content: "\f0d8";
}
/* line 361, ../sass/ds_cp.scss */
.content-page-layout .group-block-grid table .sorting_desc::after {
  content: "\f0d7";
}

/* line 368, ../sass/ds_cp.scss */
.gb-ctxt-logo-and-banner,
.gb-ctxt-banner-content {
  position: relative;
}

/* line 374, ../sass/ds_cp.scss */
.gb-ctxt-contexts-menu {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}
/* line 381, ../sass/ds_cp.scss */
.gb-ctxt-contexts-menu li {
  font-family: 'Fjalla One';
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  display: inline-block;
  font-size: 1.1em;
  line-height: 0.7em;
  overflow: hidden;
  width: 50%;
  -moz-perspective: 1200;
  -webkit-perspective: 1200;
  perspective: 1200;
}
@media (min-width: 800px) {
  /* line 381, ../sass/ds_cp.scss */
  .gb-ctxt-contexts-menu li {
    width: 25%;
  }
}
/* line 399, ../sass/ds_cp.scss */
.gb-ctxt-contexts-menu li:before {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E67010;
  content: "";
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 415, ../sass/ds_cp.scss */
.gb-ctxt-contexts-menu li:hover a {
  background: rgba(238, 238, 238, 0);
  color: white;
  font-weight: bold;
}
/* line 421, ../sass/ds_cp.scss */
.gb-ctxt-contexts-menu li:hover .g-icon {
  border-right: 2px solid white;
}
/* line 425, ../sass/ds_cp.scss */
.gb-ctxt-contexts-menu li:hover:before {
  top: 0;
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
/* line 432, ../sass/ds_cp.scss */
.gb-ctxt-contexts-menu a {
  width: 100%;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  display: inline-block;
  background: #eee;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
@media (min-width: 800px) {
  /* line 432, ../sass/ds_cp.scss */
  .gb-ctxt-contexts-menu a {
    border-bottom: 3px solid #E67010;
  }
}
/* line 452, ../sass/ds_cp.scss */
.gb-ctxt-contexts-menu a.active {
  display: none;
}
/* line 457, ../sass/ds_cp.scss */
.gb-ctxt-contexts-menu .g-icon {
  display: inline-block;
  padding: 5px;
  margin-right: 5px;
  border-right: 2px solid transparent;
}
/* line 463, ../sass/ds_cp.scss */
.gb-ctxt-contexts-menu .g-icon.conceal {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 470, ../sass/ds_cp.scss */
#block-block-2,
#block-block-6,
#block-block-5 {
  width: 100%;
  min-height: 100px;
  padding: 10px;
}

/* line 480, ../sass/ds_cp.scss */
.gb-ctxt-inline-edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: white;
  display: none;
}
/* line 490, ../sass/ds_cp.scss */
.inline-edited .gb-ctxt-inline-edit {
  display: block;
}
/* line 494, ../sass/ds_cp.scss */
.gb-ctxt-inline-edit .form-text {
  max-width: 100%;
  border: none;
  background: transparent;
  padding: 5px;
}
/* line 501, ../sass/ds_cp.scss */
.gb-ctxt-inline-edit .form-actions {
  position: absolute;
  top: 100%;
  right: 0;
  font-size: 14px;
}
/* line 509, ../sass/ds_cp.scss */
.no-banner .gb-ctxt-inline-edit .form-text {
  text-align: left !important;
  width: 100%;
}

/* line 518, ../sass/ds_cp.scss */
#page--title.inline-edited,
.ctxt-subtitle.inline-edited {
  overflow: visible;
  z-index: 100;
}
/* line 524, ../sass/ds_cp.scss */
#page--title .gb-ctxt-inline-edit .form-text,
.ctxt-subtitle .gb-ctxt-inline-edit .form-text {
  text-align: right;
}
