@font-face {
	font-family: 'gb-font';
	src:url('fonts/gb-font.eot?k9s70n');
	src:url('fonts/gb-font.eot?#iefixk9s70n') format('embedded-opentype'),
		url('fonts/gb-font.ttf?k9s70n') format('truetype'),
		url('fonts/gb-font.woff?k9s70n') format('woff'),
		url('fonts/gb-font.svg?k9s70n#gb-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'gb-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-glass:before {
	content: "\f000";
}
.icon-music:before {
	content: "\f001";
}
.icon-search:before {
	content: "\f002";
}
.icon-envelope-o:before {
	content: "\f003";
}
.icon-heart:before {
	content: "\f004";
}
.icon-star:before {
	content: "\f005";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-user:before {
	content: "\f007";
}
.icon-film:before {
	content: "\f008";
}
.icon-th-large:before {
	content: "\f009";
}
.icon-th:before {
	content: "\f00a";
}
.icon-th-list:before {
	content: "\f00b";
}
.icon-check:before {
	content: "\f00c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-search-plus:before {
	content: "\f00e";
}
.icon-search-minus:before {
	content: "\f010";
}
.icon-power-off:before {
	content: "\f011";
}
.icon-signal:before {
	content: "\f012";
}
.icon-cog:before {
	content: "\f013";
}
.icon-trash-o:before {
	content: "\f014";
}
.icon-home:before {
	content: "\f015";
}
.icon-file-o:before {
	content: "\f016";
}
.icon-clock-o:before {
	content: "\f017";
}
.icon-road:before {
	content: "\f018";
}
.icon-download:before {
	content: "\f019";
}
.icon-arrow-circle-o-down:before {
	content: "\f01a";
}
.icon-arrow-circle-o-up:before {
	content: "\f01b";
}
.icon-inbox:before {
	content: "\f01c";
}
.icon-play-circle-o:before {
	content: "\f01d";
}
.icon-repeat:before {
	content: "\f01e";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-list-alt:before {
	content: "\f022";
}
.icon-lock:before {
	content: "\f023";
}
.icon-flag:before {
	content: "\f024";
}
.icon-headphones:before {
	content: "\f025";
}
.icon-volume-off:before {
	content: "\f026";
}
.icon-volume-down:before {
	content: "\f027";
}
.icon-volume-up:before {
	content: "\f028";
}
.icon-qrcode:before {
	content: "\f029";
}
.icon-barcode:before {
	content: "\f02a";
}
.icon-tag:before {
	content: "\f02b";
}
.icon-tags:before {
	content: "\f02c";
}
.icon-book:before {
	content: "\f02d";
}
.icon-bookmark:before {
	content: "\f02e";
}
.icon-print:before {
	content: "\f02f";
}
.icon-camera:before {
	content: "\f030";
}
.icon-font:before {
	content: "\f031";
}
.icon-bold:before {
	content: "\f032";
}
.icon-italic:before {
	content: "\f033";
}
.icon-text-height:before {
	content: "\f034";
}
.icon-text-width:before {
	content: "\f035";
}
.icon-align-left:before {
	content: "\f036";
}
.icon-align-center:before {
	content: "\f037";
}
.icon-align-right:before {
	content: "\f038";
}
.icon-align-justify:before {
	content: "\f039";
}
.icon-list:before {
	content: "\f03a";
}
.icon-dedent:before {
	content: "\f03b";
}
.icon-indent:before {
	content: "\f03c";
}
.icon-video-camera:before {
	content: "\f03d";
}
.icon-image:before {
	content: "\f03e";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-map-marker:before {
	content: "\f041";
}
.icon-adjust:before {
	content: "\f042";
}
.icon-tint:before {
	content: "\f043";
}
.icon-edit:before {
	content: "\f044";
}
.icon-share-square-o:before {
	content: "\f045";
}
.icon-check-square-o:before {
	content: "\f046";
}
.icon-arrows:before {
	content: "\f047";
}
.icon-step-backward:before {
	content: "\f048";
}
.icon-fast-backward:before {
	content: "\f049";
}
.icon-backward:before {
	content: "\f04a";
}
.icon-play:before {
	content: "\f04b";
}
.icon-pause:before {
	content: "\f04c";
}
.icon-stop:before {
	content: "\f04d";
}
.icon-forward:before {
	content: "\f04e";
}
.icon-fast-forward:before {
	content: "\f050";
}
.icon-step-forward:before {
	content: "\f051";
}
.icon-eject:before {
	content: "\f052";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-plus-circle:before {
	content: "\f055";
}
.icon-minus-circle:before {
	content: "\f056";
}
.icon-times-circle:before {
	content: "\f057";
}
.icon-check-circle:before {
	content: "\f058";
}
.icon-question-circle:before {
	content: "\f059";
}
.icon-info-circle:before {
	content: "\f05a";
}
.icon-crosshairs:before {
	content: "\f05b";
}
.icon-times-circle-o:before {
	content: "\f05c";
}
.icon-check-circle-o:before {
	content: "\f05d";
}
.icon-ban:before {
	content: "\f05e";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-arrow-up:before {
	content: "\f062";
}
.icon-arrow-down:before {
	content: "\f063";
}
.icon-mail-forward:before {
	content: "\f064";
}
.icon-expand:before {
	content: "\f065";
}
.icon-compress:before {
	content: "\f066";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-asterisk:before {
	content: "\f069";
}
.icon-exclamation-circle:before {
	content: "\f06a";
}
.icon-gift:before {
	content: "\f06b";
}
.icon-leaf:before {
	content: "\f06c";
}
.icon-fire:before {
	content: "\f06d";
}
.icon-eye:before {
	content: "\f06e";
}
.icon-eye-slash:before {
	content: "\f070";
}
.icon-exclamation-triangle:before {
	content: "\f071";
}
.icon-plane:before {
	content: "\f072";
}
.icon-calendar:before {
	content: "\f073";
}
.icon-random:before {
	content: "\f074";
}
.icon-comment:before {
	content: "\f075";
}
.icon-magnet:before {
	content: "\f076";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-retweet:before {
	content: "\f079";
}
.icon-shopping-cart:before {
	content: "\f07a";
}
.icon-folder:before {
	content: "\f07b";
}
.icon-folder-open:before {
	content: "\f07c";
}
.icon-arrows-v:before {
	content: "\f07d";
}
.icon-arrows-h:before {
	content: "\f07e";
}
.icon-bar-chart:before {
	content: "\f080";
}
.icon-twitter-square:before {
	content: "\f081";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-camera-retro:before {
	content: "\f083";
}
.icon-key:before {
	content: "\f084";
}
.icon-cogs:before {
	content: "\f085";
}
.icon-comments:before {
	content: "\f086";
}
.icon-thumbs-o-up:before {
	content: "\f087";
}
.icon-thumbs-o-down:before {
	content: "\f088";
}
.icon-star-half:before {
	content: "\f089";
}
.icon-heart-o:before {
	content: "\f08a";
}
.icon-sign-out:before {
	content: "\f08b";
}
.icon-linkedin-square:before {
	content: "\f08c";
}
.icon-thumb-tack:before {
	content: "\f08d";
}
.icon-external-link:before {
	content: "\f08e";
}
.icon-sign-in:before {
	content: "\f090";
}
.icon-trophy:before {
	content: "\f091";
}
.icon-github-square:before {
	content: "\f092";
}
.icon-upload:before {
	content: "\f093";
}
.icon-lemon-o:before {
	content: "\f094";
}
.icon-phone:before {
	content: "\f095";
}
.icon-square-o:before {
	content: "\f096";
}
.icon-bookmark-o:before {
	content: "\f097";
}
.icon-phone-square:before {
	content: "\f098";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-github:before {
	content: "\f09b";
}
.icon-unlock:before {
	content: "\f09c";
}
.icon-credit-card:before {
	content: "\f09d";
}
.icon-feed:before {
	content: "\f09e";
}
.icon-hdd-o:before {
	content: "\f0a0";
}
.icon-bullhorn:before {
	content: "\f0a1";
}
.icon-bell-o:before {
	content: "\f0a2";
}
.icon-certificate:before {
	content: "\f0a3";
}
.icon-hand-o-right:before {
	content: "\f0a4";
}
.icon-hand-o-left:before {
	content: "\f0a5";
}
.icon-hand-o-up:before {
	content: "\f0a6";
}
.icon-hand-o-down:before {
	content: "\f0a7";
}
.icon-arrow-circle-left:before {
	content: "\f0a8";
}
.icon-arrow-circle-right:before {
	content: "\f0a9";
}
.icon-arrow-circle-up:before {
	content: "\f0aa";
}
.icon-arrow-circle-down:before {
	content: "\f0ab";
}
.icon-globe:before {
	content: "\f0ac";
}
.icon-wrench:before {
	content: "\f0ad";
}
.icon-tasks:before {
	content: "\f0ae";
}
.icon-filter:before {
	content: "\f0b0";
}
.icon-briefcase:before {
	content: "\f0b1";
}
.icon-arrows-alt:before {
	content: "\f0b2";
}
.icon-group:before {
	content: "\f0c0";
}
.icon-chain:before {
	content: "\f0c1";
}
.icon-cloud:before {
	content: "\f0c2";
}
.icon-flask:before {
	content: "\f0c3";
}
.icon-cut:before {
	content: "\f0c4";
}
.icon-copy:before {
	content: "\f0c5";
}
.icon-paperclip:before {
	content: "\f0c6";
}
.icon-floppy-o:before {
	content: "\f0c7";
}
.icon-square:before {
	content: "\f0c8";
}
.icon-bars:before {
	content: "\f0c9";
}
.icon-list-ul:before {
	content: "\f0ca";
}
.icon-list-ol:before {
	content: "\f0cb";
}
.icon-strikethrough:before {
	content: "\f0cc";
}
.icon-underline:before {
	content: "\f0cd";
}
.icon-table:before {
	content: "\f0ce";
}
.icon-magic:before {
	content: "\f0d0";
}
.icon-truck:before {
	content: "\f0d1";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-pinterest-square:before {
	content: "\f0d3";
}
.icon-google-plus-square:before {
	content: "\f0d4";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-money:before {
	content: "\f0d6";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-columns:before {
	content: "\f0db";
}
.icon-sort:before {
	content: "\f0dc";
}
.icon-sort-desc:before {
	content: "\f0dd";
}
.icon-sort-asc:before {
	content: "\f0de";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-rotate-left:before {
	content: "\f0e2";
}
.icon-gavel:before {
	content: "\f0e3";
}
.icon-dashboard:before {
	content: "\f0e4";
}
.icon-comment-o:before {
	content: "\f0e5";
}
.icon-comments-o:before {
	content: "\f0e6";
}
.icon-bolt:before {
	content: "\f0e7";
}
.icon-sitemap:before {
	content: "\f0e8";
}
.icon-umbrella:before {
	content: "\f0e9";
}
.icon-clipboard:before {
	content: "\f0ea";
}
.icon-lightbulb-o:before {
	content: "\f0eb";
}
.icon-exchange:before {
	content: "\f0ec";
}
.icon-cloud-download:before {
	content: "\f0ed";
}
.icon-cloud-upload:before {
	content: "\f0ee";
}
.icon-user-md:before {
	content: "\f0f0";
}
.icon-stethoscope:before {
	content: "\f0f1";
}
.icon-suitcase:before {
	content: "\f0f2";
}
.icon-bell:before {
	content: "\f0f3";
}
.icon-coffee:before {
	content: "\f0f4";
}
.icon-cutlery:before {
	content: "\f0f5";
}
.icon-file-text-o:before {
	content: "\f0f6";
}
.icon-building-o:before {
	content: "\f0f7";
}
.icon-hospital-o:before {
	content: "\f0f8";
}
.icon-ambulance:before {
	content: "\f0f9";
}
.icon-medkit:before {
	content: "\f0fa";
}
.icon-fighter-jet:before {
	content: "\f0fb";
}
.icon-beer:before {
	content: "\f0fc";
}
.icon-h-square:before {
	content: "\f0fd";
}
.icon-plus-square:before {
	content: "\f0fe";
}
.icon-angle-double-left:before {
	content: "\f100";
}
.icon-angle-double-right:before {
	content: "\f101";
}
.icon-angle-double-up:before {
	content: "\f102";
}
.icon-angle-double-down:before {
	content: "\f103";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-laptop:before {
	content: "\f109";
}
.icon-tablet:before {
	content: "\f10a";
}
.icon-mobile:before {
	content: "\f10b";
}
.icon-circle-o:before {
	content: "\f10c";
}
.icon-quote-left:before {
	content: "\f10d";
}
.icon-quote-right:before {
	content: "\f10e";
}
.icon-spinner:before {
	content: "\f110";
}
.icon-circle:before {
	content: "\f111";
}
.icon-mail-reply:before {
	content: "\f112";
}
.icon-github-alt:before {
	content: "\f113";
}
.icon-folder-o:before {
	content: "\f114";
}
.icon-folder-open-o:before {
	content: "\f115";
}
.icon-smile-o:before {
	content: "\f118";
}
.icon-frown-o:before {
	content: "\f119";
}
.icon-meh-o:before {
	content: "\f11a";
}
.icon-gamepad:before {
	content: "\f11b";
}
.icon-keyboard-o:before {
	content: "\f11c";
}
.icon-flag-o:before {
	content: "\f11d";
}
.icon-flag-checkered:before {
	content: "\f11e";
}
.icon-terminal:before {
	content: "\f120";
}
.icon-code:before {
	content: "\f121";
}
.icon-mail-reply-all:before {
	content: "\f122";
}
.icon-star-half-empty:before {
	content: "\f123";
}
.icon-location-arrow:before {
	content: "\f124";
}
.icon-crop:before {
	content: "\f125";
}
.icon-code-fork:before {
	content: "\f126";
}
.icon-chain-broken:before {
	content: "\f127";
}
.icon-question:before {
	content: "\f128";
}
.icon-info:before {
	content: "\f129";
}
.icon-exclamation:before {
	content: "\f12a";
}
.icon-superscript:before {
	content: "\f12b";
}
.icon-subscript:before {
	content: "\f12c";
}
.icon-eraser:before {
	content: "\f12d";
}
.icon-puzzle-piece:before {
	content: "\f12e";
}
.icon-microphone:before {
	content: "\f130";
}
.icon-microphone-slash:before {
	content: "\f131";
}
.icon-shield:before {
	content: "\f132";
}
.icon-calendar-o:before {
	content: "\f133";
}
.icon-fire-extinguisher:before {
	content: "\f134";
}
.icon-rocket:before {
	content: "\f135";
}
.icon-maxcdn:before {
	content: "\f136";
}
.icon-chevron-circle-left:before {
	content: "\f137";
}
.icon-chevron-circle-right:before {
	content: "\f138";
}
.icon-chevron-circle-up:before {
	content: "\f139";
}
.icon-chevron-circle-down:before {
	content: "\f13a";
}
.icon-html5:before {
	content: "\f13b";
}
.icon-css3:before {
	content: "\f13c";
}
.icon-anchor:before {
	content: "\f13d";
}
.icon-unlock-alt:before {
	content: "\f13e";
}
.icon-bullseye:before {
	content: "\f140";
}
.icon-ellipsis-h:before {
	content: "\f141";
}
.icon-ellipsis-v:before {
	content: "\f142";
}
.icon-rss-square:before {
	content: "\f143";
}
.icon-play-circle:before {
	content: "\f144";
}
.icon-ticket:before {
	content: "\f145";
}
.icon-minus-square:before {
	content: "\f146";
}
.icon-minus-square-o:before {
	content: "\f147";
}
.icon-level-up:before {
	content: "\f148";
}
.icon-level-down:before {
	content: "\f149";
}
.icon-check-square:before {
	content: "\f14a";
}
.icon-pencil-square:before {
	content: "\f14b";
}
.icon-external-link-square:before {
	content: "\f14c";
}
.icon-share-square:before {
	content: "\f14d";
}
.icon-compass:before {
	content: "\f14e";
}
.icon-caret-square-o-down:before {
	content: "\f150";
}
.icon-caret-square-o-up:before {
	content: "\f151";
}
.icon-caret-square-o-right:before {
	content: "\f152";
}
.icon-eur:before {
	content: "\f153";
}
.icon-gbp:before {
	content: "\f154";
}
.icon-dollar:before {
	content: "\f155";
}
.icon-inr:before {
	content: "\f156";
}
.icon-cny:before {
	content: "\f157";
}
.icon-rouble:before {
	content: "\f158";
}
.icon-krw:before {
	content: "\f159";
}
.icon-bitcoin:before {
	content: "\f15a";
}
.icon-file:before {
	content: "\f15b";
}
.icon-file-text:before {
	content: "\f15c";
}
.icon-sort-alpha-asc:before {
	content: "\f15d";
}
.icon-sort-alpha-desc:before {
	content: "\f15e";
}
.icon-sort-amount-asc:before {
	content: "\f160";
}
.icon-sort-amount-desc:before {
	content: "\f161";
}
.icon-sort-numeric-asc:before {
	content: "\f162";
}
.icon-sort-numeric-desc:before {
	content: "\f163";
}
.icon-thumbs-up:before {
	content: "\f164";
}
.icon-thumbs-down:before {
	content: "\f165";
}
.icon-youtube-square:before {
	content: "\f166";
}
.icon-youtube:before {
	content: "\f167";
}
.icon-xing:before {
	content: "\f168";
}
.icon-xing-square:before {
	content: "\f169";
}
.icon-youtube-play:before {
	content: "\f16a";
}
.icon-dropbox:before {
	content: "\f16b";
}
.icon-stack-overflow:before {
	content: "\f16c";
}
.icon-instagram:before {
	content: "\f16d";
}
.icon-flickr:before {
	content: "\f16e";
}
.icon-adn:before {
	content: "\f170";
}
.icon-bitbucket:before {
	content: "\f171";
}
.icon-bitbucket-square:before {
	content: "\f172";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-tumblr-square:before {
	content: "\f174";
}
.icon-long-arrow-down:before {
	content: "\f175";
}
.icon-long-arrow-up:before {
	content: "\f176";
}
.icon-long-arrow-left:before {
	content: "\f177";
}
.icon-long-arrow-right:before {
	content: "\f178";
}
.icon-apple:before {
	content: "\f179";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-android:before {
	content: "\f17b";
}
.icon-linux:before {
	content: "\f17c";
}
.icon-dribbble:before {
	content: "\f17d";
}
.icon-skype:before {
	content: "\f17e";
}
.icon-foursquare:before {
	content: "\f180";
}
.icon-trello:before {
	content: "\f181";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-gittip:before {
	content: "\f184";
}
.icon-sun-o:before {
	content: "\f185";
}
.icon-moon-o:before {
	content: "\f186";
}
.icon-archive:before {
	content: "\f187";
}
.icon-bug:before {
	content: "\f188";
}
.icon-vk:before {
	content: "\f189";
}
.icon-weibo:before {
	content: "\f18a";
}
.icon-renren:before {
	content: "\f18b";
}
.icon-pagelines:before {
	content: "\f18c";
}
.icon-stack-exchange:before {
	content: "\f18d";
}
.icon-arrow-circle-o-right:before {
	content: "\f18e";
}
.icon-arrow-circle-o-left:before {
	content: "\f190";
}
.icon-caret-square-o-left:before {
	content: "\f191";
}
.icon-dot-circle-o:before {
	content: "\f192";
}
.icon-wheelchair:before {
	content: "\f193";
}
.icon-vimeo-square:before {
	content: "\f194";
}
.icon-try:before {
	content: "\f195";
}
.icon-plus-square-o:before {
	content: "\f196";
}
.icon-space-shuttle:before {
	content: "\f197";
}
.icon-slack:before {
	content: "\f198";
}
.icon-envelope-square:before {
	content: "\f199";
}
.icon-wordpress:before {
	content: "\f19a";
}
.icon-openid:before {
	content: "\f19b";
}
.icon-bank:before {
	content: "\f19c";
}
.icon-graduation-cap:before {
	content: "\f19d";
}
.icon-yahoo:before {
	content: "\f19e";
}
.icon-google:before {
	content: "\f1a0";
}
.icon-reddit:before {
	content: "\f1a1";
}
.icon-reddit-square:before {
	content: "\f1a2";
}
.icon-stumbleupon-circle:before {
	content: "\f1a3";
}
.icon-stumbleupon:before {
	content: "\f1a4";
}
.icon-delicious:before {
	content: "\f1a5";
}
.icon-digg:before {
	content: "\f1a6";
}
.icon-pied-piper:before {
	content: "\f1a7";
}
.icon-pied-piper-alt:before {
	content: "\f1a8";
}
.icon-drupal:before {
	content: "\f1a9";
}
.icon-joomla:before {
	content: "\f1aa";
}
.icon-language:before {
	content: "\f1ab";
}
.icon-fax:before {
	content: "\f1ac";
}
.icon-building:before {
	content: "\f1ad";
}
.icon-child:before {
	content: "\f1ae";
}
.icon-paw:before {
	content: "\f1b0";
}
.icon-spoon:before {
	content: "\f1b1";
}
.icon-cube:before {
	content: "\f1b2";
}
.icon-cubes:before {
	content: "\f1b3";
}
.icon-behance:before {
	content: "\f1b4";
}
.icon-behance-square:before {
	content: "\f1b5";
}
.icon-steam:before {
	content: "\f1b6";
}
.icon-steam-square:before {
	content: "\f1b7";
}
.icon-recycle:before {
	content: "\f1b8";
}
.icon-automobile:before {
	content: "\f1b9";
}
.icon-cab:before {
	content: "\f1ba";
}
.icon-tree:before {
	content: "\f1bb";
}
.icon-spotify:before {
	content: "\f1bc";
}
.icon-deviantart:before {
	content: "\f1bd";
}
.icon-soundcloud:before {
	content: "\f1be";
}
.icon-database:before {
	content: "\f1c0";
}
.icon-file-pdf-o:before {
	content: "\f1c1";
}
.icon-file-word-o:before {
	content: "\f1c2";
}
.icon-file-excel-o:before {
	content: "\f1c3";
}
.icon-file-powerpoint-o:before {
	content: "\f1c4";
}
.icon-file-image-o:before {
	content: "\f1c5";
}
.icon-file-archive-o:before {
	content: "\f1c6";
}
.icon-file-audio-o:before {
	content: "\f1c7";
}
.icon-file-movie-o:before {
	content: "\f1c8";
}
.icon-file-code-o:before {
	content: "\f1c9";
}
.icon-vine:before {
	content: "\f1ca";
}
.icon-codepen:before {
	content: "\f1cb";
}
.icon-jsfiddle:before {
	content: "\f1cc";
}
.icon-life-bouy:before {
	content: "\f1cd";
}
.icon-circle-o-notch:before {
	content: "\f1ce";
}
.icon-ra:before {
	content: "\f1d0";
}
.icon-empire:before {
	content: "\f1d1";
}
.icon-git-square:before {
	content: "\f1d2";
}
.icon-git:before {
	content: "\f1d3";
}
.icon-hacker-news:before {
	content: "\f1d4";
}
.icon-tencent-weibo:before {
	content: "\f1d5";
}
.icon-qq:before {
	content: "\f1d6";
}
.icon-wechat:before {
	content: "\f1d7";
}
.icon-paper-plane:before {
	content: "\f1d8";
}
.icon-paper-plane-o:before {
	content: "\f1d9";
}
.icon-history:before {
	content: "\f1da";
}
.icon-circle-thin:before {
	content: "\f1db";
}
.icon-header:before {
	content: "\f1dc";
}
.icon-paragraph:before {
	content: "\f1dd";
}
.icon-sliders:before {
	content: "\f1de";
}
.icon-share-alt:before {
	content: "\f1e0";
}
.icon-share-alt-square:before {
	content: "\f1e1";
}
.icon-bomb:before {
	content: "\f1e2";
}
.icon-futbol-o:before {
	content: "\f1e3";
}
.icon-tty:before {
	content: "\f1e4";
}
.icon-binoculars:before {
	content: "\f1e5";
}
.icon-plug:before {
	content: "\f1e6";
}
.icon-slideshare:before {
	content: "\f1e7";
}
.icon-twitch:before {
	content: "\f1e8";
}
.icon-yelp:before {
	content: "\f1e9";
}
.icon-newspaper-o:before {
	content: "\f1ea";
}
.icon-wifi:before {
	content: "\f1eb";
}
.icon-calculator:before {
	content: "\f1ec";
}
.icon-paypal:before {
	content: "\f1ed";
}
.icon-google-wallet:before {
	content: "\f1ee";
}
.icon-cc-visa:before {
	content: "\f1f0";
}
.icon-cc-mastercard:before {
	content: "\f1f1";
}
.icon-cc-discover:before {
	content: "\f1f2";
}
.icon-cc-amex:before {
	content: "\f1f3";
}
.icon-cc-paypal:before {
	content: "\f1f4";
}
.icon-cc-stripe:before {
	content: "\f1f5";
}
.icon-bell-slash:before {
	content: "\f1f6";
}
.icon-bell-slash-o:before {
	content: "\f1f7";
}
.icon-trash:before {
	content: "\f1f8";
}
.icon-copyright:before {
	content: "\f1f9";
}
.icon-at:before {
	content: "\f1fa";
}
.icon-eyedropper:before {
	content: "\f1fb";
}
.icon-paint-brush:before {
	content: "\f1fc";
}
.icon-birthday-cake:before {
	content: "\f1fd";
}
.icon-area-chart:before {
	content: "\f1fe";
}
.icon-pie-chart:before {
	content: "\f200";
}
.icon-line-chart:before {
	content: "\f201";
}
.icon-lastfm:before {
	content: "\f202";
}
.icon-lastfm-square:before {
	content: "\f203";
}
.icon-toggle-off:before {
	content: "\f204";
}
.icon-toggle-on:before {
	content: "\f205";
}
.icon-bicycle:before {
	content: "\f206";
}
.icon-bus:before {
	content: "\f207";
}
.icon-ioxhost:before {
	content: "\f208";
}
.icon-angellist:before {
	content: "\f209";
}
.icon-cc:before {
	content: "\f20a";
}
.icon-ils:before {
	content: "\f20b";
}
.icon-meanpath:before {
	content: "\f20c";
}
.icon-buysellads:before {
	content: "\f20d";
}
.icon-connectdevelop:before {
	content: "\f20e";
}
.icon-dashcube:before {
	content: "\f210";
}
.icon-forumbee:before {
	content: "\f211";
}
.icon-leanpub:before {
	content: "\f212";
}
.icon-sellsy:before {
	content: "\f213";
}
.icon-shirtsinbulk:before {
	content: "\f214";
}
.icon-simplybuilt:before {
	content: "\f215";
}
.icon-skyatlas:before {
	content: "\f216";
}
.icon-cart-plus:before {
	content: "\f217";
}
.icon-cart-arrow-down:before {
	content: "\f218";
}
.icon-diamond:before {
	content: "\f219";
}
.icon-ship:before {
	content: "\f21a";
}
.icon-user-secret:before {
	content: "\f21b";
}
.icon-motorcycle:before {
	content: "\f21c";
}
.icon-street-view:before {
	content: "\f21d";
}
.icon-heartbeat:before {
	content: "\f21e";
}
.icon-venus:before {
	content: "\f221";
}
.icon-mars:before {
	content: "\f222";
}
.icon-mercury:before {
	content: "\f223";
}
.icon-intersex:before {
	content: "\f224";
}
.icon-transgender-alt:before {
	content: "\f225";
}
.icon-venus-double:before {
	content: "\f226";
}
.icon-mars-double:before {
	content: "\f227";
}
.icon-venus-mars:before {
	content: "\f228";
}
.icon-mars-stroke:before {
	content: "\f229";
}
.icon-mars-stroke-v:before {
	content: "\f22a";
}
.icon-mars-stroke-h:before {
	content: "\f22b";
}
.icon-neuter:before {
	content: "\f22c";
}
.icon-genderless:before {
	content: "\f22d";
}
.icon-facebook-official:before {
	content: "\f230";
}
.icon-pinterest-p:before {
	content: "\f231";
}
.icon-whatsapp:before {
	content: "\f232";
}
.icon-server:before {
	content: "\f233";
}
.icon-user-plus:before {
	content: "\f234";
}
.icon-user-times:before {
	content: "\f235";
}
.icon-bed:before {
	content: "\f236";
}
.icon-viacoin:before {
	content: "\f237";
}
.icon-train:before {
	content: "\f238";
}
.icon-subway:before {
	content: "\f239";
}
.icon-medium:before {
	content: "\f23a";
}
.icon-y-combinator:before {
	content: "\f23b";
}
.icon-optin-monster:before {
	content: "\f23c";
}
.icon-opencart:before {
	content: "\f23d";
}
.icon-expeditedssl:before {
	content: "\f23e";
}
.icon-battery-4:before {
	content: "\f240";
}
.icon-battery-3:before {
	content: "\f241";
}
.icon-battery-2:before {
	content: "\f242";
}
.icon-battery-1:before {
	content: "\f243";
}
.icon-battery-0:before {
	content: "\f244";
}
.icon-mouse-pointer:before {
	content: "\f245";
}
.icon-i-cursor:before {
	content: "\f246";
}
.icon-object-group:before {
	content: "\f247";
}
.icon-object-ungroup:before {
	content: "\f248";
}
.icon-sticky-note:before {
	content: "\f249";
}
.icon-sticky-note-o:before {
	content: "\f24a";
}
.icon-cc-jcb:before {
	content: "\f24b";
}
.icon-cc-diners-club:before {
	content: "\f24c";
}
.icon-clone:before {
	content: "\f24d";
}
.icon-balance-scale:before {
	content: "\f24e";
}
.icon-hourglass-o:before {
	content: "\f250";
}
.icon-hourglass-1:before {
	content: "\f251";
}
.icon-hourglass-2:before {
	content: "\f252";
}
.icon-hourglass-3:before {
	content: "\f253";
}
.icon-hourglass:before {
	content: "\f254";
}
.icon-hand-grab-o:before {
	content: "\f255";
}
.icon-hand-paper-o:before {
	content: "\f256";
}
.icon-hand-scissors-o:before {
	content: "\f257";
}
.icon-hand-lizard-o:before {
	content: "\f258";
}
.icon-hand-spock-o:before {
	content: "\f259";
}
.icon-hand-pointer-o:before {
	content: "\f25a";
}
.icon-hand-peace-o:before {
	content: "\f25b";
}
.icon-trademark:before {
	content: "\f25c";
}
.icon-registered:before {
	content: "\f25d";
}
.icon-creative-commons:before {
	content: "\f25e";
}
.icon-gg:before {
	content: "\f260";
}
.icon-gg-circle:before {
	content: "\f261";
}
.icon-tripadvisor:before {
	content: "\f262";
}
.icon-odnoklassniki:before {
	content: "\f263";
}
.icon-odnoklassniki-square:before {
	content: "\f264";
}
.icon-get-pocket:before {
	content: "\f265";
}
.icon-wikipedia-w:before {
	content: "\f266";
}
.icon-safari:before {
	content: "\f267";
}
.icon-chrome:before {
	content: "\f268";
}
.icon-firefox:before {
	content: "\f269";
}
.icon-opera:before {
	content: "\f26a";
}
.icon-internet-explorer:before {
	content: "\f26b";
}
.icon-television:before {
	content: "\f26c";
}
.icon-contao:before {
	content: "\f26d";
}
.icon-500px:before {
	content: "\f26e";
}
.icon-amazon:before {
	content: "\f270";
}
.icon-calendar-plus-o:before {
	content: "\f271";
}
.icon-calendar-minus-o:before {
	content: "\f272";
}
.icon-calendar-times-o:before {
	content: "\f273";
}
.icon-calendar-check-o:before {
	content: "\f274";
}
.icon-industry:before {
	content: "\f275";
}
.icon-map-pin:before {
	content: "\f276";
}
.icon-map-signs:before {
	content: "\f277";
}
.icon-map-o:before {
	content: "\f278";
}
.icon-map:before {
	content: "\f279";
}
.icon-commenting:before {
	content: "\f27a";
}
.icon-commenting-o:before {
	content: "\f27b";
}
.icon-houzz:before {
	content: "\f27c";
}
.icon-vimeo:before {
	content: "\f27d";
}
.icon-black-tie:before {
	content: "\f27e";
}
.icon-fonticons:before {
	content: "\f280";
}
.icon-home4:before {
	content: "\e600";
}
.icon-home2:before {
	content: "\e601";
}
.icon-home3:before {
	content: "\e602";
}
.icon-office:before {
	content: "\e603";
}
.icon-newspaper:before {
	content: "\e604";
}
.icon-pencil3:before {
	content: "\e605";
}
.icon-pencil2:before {
	content: "\e606";
}
.icon-quill:before {
	content: "\e607";
}
.icon-pen:before {
	content: "\e608";
}
.icon-blog:before {
	content: "\e609";
}
.icon-eyedropper2:before {
	content: "\e60a";
}
.icon-droplet:before {
	content: "\e60b";
}
.icon-paint-format:before {
	content: "\e60c";
}
.icon-image2:before {
	content: "\e60d";
}
.icon-images:before {
	content: "\e60e";
}
.icon-camera2:before {
	content: "\e60f";
}
.icon-headphones2:before {
	content: "\e610";
}
.icon-music2:before {
	content: "\e611";
}
.icon-play4:before {
	content: "\e612";
}
.icon-film2:before {
	content: "\e613";
}
.icon-video-camera2:before {
	content: "\e614";
}
.icon-dice:before {
	content: "\e615";
}
.icon-pacman:before {
	content: "\e616";
}
.icon-spades:before {
	content: "\e617";
}
.icon-clubs:before {
	content: "\e618";
}
.icon-diamonds:before {
	content: "\e619";
}
.icon-bullhorn2:before {
	content: "\e61a";
}
.icon-connection:before {
	content: "\e61b";
}
.icon-podcast:before {
	content: "\e61c";
}
.icon-feed5:before {
	content: "\e61d";
}
.icon-mic:before {
	content: "\e61e";
}
.icon-book2:before {
	content: "\e61f";
}
.icon-books:before {
	content: "\e620";
}
.icon-library:before {
	content: "\e621";
}
.icon-file-text3:before {
	content: "\e622";
}
.icon-profile:before {
	content: "\e623";
}
.icon-file-empty:before {
	content: "\e624";
}
.icon-files-empty:before {
	content: "\e625";
}
.icon-file-text2:before {
	content: "\e626";
}
.icon-file-picture:before {
	content: "\e627";
}
.icon-file-music:before {
	content: "\e628";
}
.icon-file-play:before {
	content: "\e629";
}
.icon-file-video:before {
	content: "\e62a";
}
.icon-file-zip:before {
	content: "\e62b";
}
.icon-copy2:before {
	content: "\e62c";
}
.icon-paste:before {
	content: "\e62d";
}
.icon-stack:before {
	content: "\e62e";
}
.icon-folder2:before {
	content: "\e62f";
}
.icon-folder-open2:before {
	content: "\e630";
}
.icon-folder-plus:before {
	content: "\e631";
}
.icon-folder-minus:before {
	content: "\e632";
}
.icon-folder-download:before {
	content: "\e633";
}
.icon-folder-upload:before {
	content: "\e634";
}
.icon-price-tag:before {
	content: "\e635";
}
.icon-price-tags:before {
	content: "\e636";
}
.icon-barcode2:before {
	content: "\e637";
}
.icon-qrcode2:before {
	content: "\e638";
}
.icon-ticket2:before {
	content: "\e639";
}
.icon-cart:before {
	content: "\e63a";
}
.icon-coin-dollar:before {
	content: "\e63b";
}
.icon-coin-euro:before {
	content: "\e63c";
}
.icon-coin-pound:before {
	content: "\e63d";
}
.icon-coin-yen:before {
	content: "\e63e";
}
.icon-credit-card2:before {
	content: "\e63f";
}
.icon-calculator2:before {
	content: "\e640";
}
.icon-lifebuoy:before {
	content: "\e641";
}
.icon-phone2:before {
	content: "\e642";
}
.icon-phone-hang-up:before {
	content: "\e643";
}
.icon-address-book:before {
	content: "\e644";
}
.icon-envelop:before {
	content: "\e645";
}
.icon-pushpin:before {
	content: "\e646";
}
.icon-location:before {
	content: "\e647";
}
.icon-location2:before {
	content: "\e648";
}
.icon-compass3:before {
	content: "\e649";
}
.icon-compass2:before {
	content: "\e64a";
}
.icon-map3:before {
	content: "\e64b";
}
.icon-map2:before {
	content: "\e64c";
}
.icon-history2:before {
	content: "\e64d";
}
.icon-clock:before {
	content: "\e64e";
}
.icon-clock2:before {
	content: "\e64f";
}
.icon-alarm:before {
	content: "\e650";
}
.icon-bell2:before {
	content: "\e651";
}
.icon-stopwatch:before {
	content: "\e652";
}
.icon-calendar2:before {
	content: "\e653";
}
.icon-printer:before {
	content: "\e654";
}
.icon-keyboard:before {
	content: "\e655";
}
.icon-display:before {
	content: "\e656";
}
.icon-laptop2:before {
	content: "\e657";
}
.icon-mobile3:before {
	content: "\e658";
}
.icon-mobile2:before {
	content: "\e659";
}
.icon-tablet2:before {
	content: "\e65a";
}
.icon-tv:before {
	content: "\e65b";
}
.icon-drawer:before {
	content: "\e65c";
}
.icon-drawer2:before {
	content: "\e65d";
}
.icon-box-add:before {
	content: "\e65e";
}
.icon-box-remove:before {
	content: "\e65f";
}
.icon-download4:before {
	content: "\e660";
}
.icon-upload4:before {
	content: "\e661";
}
.icon-floppy-disk:before {
	content: "\e662";
}
.icon-drive:before {
	content: "\e663";
}
.icon-database2:before {
	content: "\e664";
}
.icon-undo:before {
	content: "\e665";
}
.icon-redo:before {
	content: "\e666";
}
.icon-undo2:before {
	content: "\e667";
}
.icon-redo2:before {
	content: "\e668";
}
.icon-forward4:before {
	content: "\e669";
}
.icon-reply:before {
	content: "\e66a";
}
.icon-bubble:before {
	content: "\e66b";
}
.icon-bubbles:before {
	content: "\e66c";
}
.icon-bubbles2:before {
	content: "\e66d";
}
.icon-bubble2:before {
	content: "\e66e";
}
.icon-bubbles3:before {
	content: "\e66f";
}
.icon-bubbles4:before {
	content: "\e670";
}
.icon-user2:before {
	content: "\e671";
}
.icon-users:before {
	content: "\e672";
}
.icon-user-plus2:before {
	content: "\e673";
}
.icon-user-minus:before {
	content: "\e674";
}
.icon-user-check:before {
	content: "\e675";
}
.icon-user-tie:before {
	content: "\e676";
}
.icon-quotes-left:before {
	content: "\e677";
}
.icon-quotes-right:before {
	content: "\e678";
}
.icon-hour-glass:before {
	content: "\e679";
}
.icon-spinner12:before {
	content: "\e67a";
}
.icon-spinner2:before {
	content: "\e67b";
}
.icon-spinner3:before {
	content: "\e67c";
}
.icon-spinner4:before {
	content: "\e67d";
}
.icon-spinner5:before {
	content: "\e67e";
}
.icon-spinner6:before {
	content: "\e67f";
}
.icon-spinner7:before {
	content: "\e680";
}
.icon-spinner8:before {
	content: "\e681";
}
.icon-spinner9:before {
	content: "\e682";
}
.icon-spinner10:before {
	content: "\e683";
}
.icon-spinner11:before {
	content: "\e684";
}
.icon-binoculars2:before {
	content: "\e685";
}
.icon-search2:before {
	content: "\e686";
}
.icon-zoom-in:before {
	content: "\e687";
}
.icon-zoom-out:before {
	content: "\e688";
}
.icon-enlarge:before {
	content: "\e689";
}
.icon-shrink:before {
	content: "\e68a";
}
.icon-enlarge2:before {
	content: "\e68b";
}
.icon-shrink2:before {
	content: "\e68c";
}
.icon-key3:before {
	content: "\e68d";
}
.icon-key2:before {
	content: "\e68e";
}
.icon-lock2:before {
	content: "\e68f";
}
.icon-unlocked:before {
	content: "\e690";
}
.icon-wrench2:before {
	content: "\e691";
}
.icon-equalizer:before {
	content: "\e692";
}
.icon-equalizer2:before {
	content: "\e693";
}
.icon-cog2:before {
	content: "\e694";
}
.icon-cogs2:before {
	content: "\e695";
}
.icon-hammer:before {
	content: "\e696";
}
.icon-magic-wand:before {
	content: "\e697";
}
.icon-aid-kit:before {
	content: "\e698";
}
.icon-bug2:before {
	content: "\e699";
}
.icon-pie-chart2:before {
	content: "\e69a";
}
.icon-stats-dots:before {
	content: "\e69b";
}
.icon-stats-bars:before {
	content: "\e69c";
}
.icon-stats-bars2:before {
	content: "\e69d";
}
.icon-trophy2:before {
	content: "\e69e";
}
.icon-gift2:before {
	content: "\e69f";
}
.icon-glass3:before {
	content: "\e6a0";
}
.icon-glass2:before {
	content: "\e6a1";
}
.icon-mug:before {
	content: "\e6a2";
}
.icon-spoon-knife:before {
	content: "\e6a3";
}
.icon-leaf2:before {
	content: "\e6a4";
}
.icon-rocket2:before {
	content: "\e6a5";
}
.icon-meter:before {
	content: "\e6a6";
}
.icon-meter2:before {
	content: "\e6a7";
}
.icon-hammer2:before {
	content: "\e6a8";
}
.icon-fire2:before {
	content: "\e6a9";
}
.icon-lab:before {
	content: "\e6aa";
}
.icon-magnet2:before {
	content: "\e6ab";
}
.icon-bin:before {
	content: "\e6ac";
}
.icon-bin2:before {
	content: "\e6ad";
}
.icon-briefcase2:before {
	content: "\e6ae";
}
.icon-airplane:before {
	content: "\e6af";
}
.icon-truck2:before {
	content: "\e6b0";
}
.icon-road2:before {
	content: "\e6b1";
}
.icon-accessibility:before {
	content: "\e6b2";
}
.icon-target:before {
	content: "\e6b3";
}
.icon-shield2:before {
	content: "\e6b4";
}
.icon-power:before {
	content: "\e6b5";
}
.icon-switch:before {
	content: "\e6b6";
}
.icon-power-cord:before {
	content: "\e6b7";
}
.icon-clipboard2:before {
	content: "\e6b8";
}
.icon-list-numbered:before {
	content: "\e6b9";
}
.icon-list3:before {
	content: "\e6ba";
}
.icon-list2:before {
	content: "\e6bb";
}
.icon-tree2:before {
	content: "\e6bc";
}
.icon-menu:before {
	content: "\e6bd";
}
.icon-menu2:before {
	content: "\e6be";
}
.icon-menu3:before {
	content: "\e6bf";
}
.icon-menu4:before {
	content: "\e6c0";
}
.icon-cloud2:before {
	content: "\e6c1";
}
.icon-cloud-download2:before {
	content: "\e6c2";
}
.icon-cloud-upload2:before {
	content: "\e6c3";
}
.icon-cloud-check:before {
	content: "\e6c4";
}
.icon-download2:before {
	content: "\e6c5";
}
.icon-upload2:before {
	content: "\e6c6";
}
.icon-download3:before {
	content: "\e6c7";
}
.icon-upload3:before {
	content: "\e6c8";
}
.icon-sphere:before {
	content: "\e6c9";
}
.icon-earth:before {
	content: "\e6ca";
}
.icon-link:before {
	content: "\e6cb";
}
.icon-flag2:before {
	content: "\e6cc";
}
.icon-attachment:before {
	content: "\e6cd";
}
.icon-eye2:before {
	content: "\e6ce";
}
.icon-eye-plus:before {
	content: "\e6cf";
}
.icon-eye-minus:before {
	content: "\e6d0";
}
.icon-eye-blocked:before {
	content: "\e6d1";
}
.icon-bookmark2:before {
	content: "\e6d2";
}
.icon-bookmarks:before {
	content: "\e6d3";
}
.icon-sun:before {
	content: "\e6d4";
}
.icon-contrast:before {
	content: "\e6d5";
}
.icon-brightness-contrast:before {
	content: "\e6d6";
}
.icon-star-empty:before {
	content: "\e6d7";
}
.icon-star-half2:before {
	content: "\e6d8";
}
.icon-star-full:before {
	content: "\e6d9";
}
.icon-heart2:before {
	content: "\e6da";
}
.icon-heart-broken:before {
	content: "\e6db";
}
.icon-man:before {
	content: "\e6dc";
}
.icon-woman:before {
	content: "\e6dd";
}
.icon-man-woman:before {
	content: "\e6de";
}
.icon-happy:before {
	content: "\e6df";
}
.icon-happy2:before {
	content: "\e6e0";
}
.icon-smile:before {
	content: "\e6e1";
}
.icon-smile2:before {
	content: "\e6e2";
}
.icon-tongue:before {
	content: "\e6e3";
}
.icon-tongue2:before {
	content: "\e6e4";
}
.icon-sad:before {
	content: "\e6e5";
}
.icon-sad2:before {
	content: "\e6e6";
}
.icon-wink:before {
	content: "\e6e7";
}
.icon-wink2:before {
	content: "\e6e8";
}
.icon-grin:before {
	content: "\e6e9";
}
.icon-grin2:before {
	content: "\e6ea";
}
.icon-cool:before {
	content: "\e6eb";
}
.icon-cool2:before {
	content: "\e6ec";
}
.icon-angry:before {
	content: "\e6ed";
}
.icon-angry2:before {
	content: "\e6ee";
}
.icon-evil:before {
	content: "\e6ef";
}
.icon-evil2:before {
	content: "\e6f0";
}
.icon-shocked:before {
	content: "\e6f1";
}
.icon-shocked2:before {
	content: "\e6f2";
}
.icon-baffled:before {
	content: "\e6f3";
}
.icon-baffled2:before {
	content: "\e6f4";
}
.icon-confused:before {
	content: "\e6f5";
}
.icon-confused2:before {
	content: "\e6f6";
}
.icon-neutral:before {
	content: "\e6f7";
}
.icon-neutral2:before {
	content: "\e6f8";
}
.icon-hipster:before {
	content: "\e6f9";
}
.icon-hipster2:before {
	content: "\e6fa";
}
.icon-wondering:before {
	content: "\e6fb";
}
.icon-wondering2:before {
	content: "\e6fc";
}
.icon-sleepy:before {
	content: "\e6fd";
}
.icon-sleepy2:before {
	content: "\e6fe";
}
.icon-frustrated:before {
	content: "\e6ff";
}
.icon-frustrated2:before {
	content: "\e700";
}
.icon-crying:before {
	content: "\e701";
}
.icon-crying2:before {
	content: "\e702";
}
.icon-point-up:before {
	content: "\e703";
}
.icon-point-right:before {
	content: "\e704";
}
.icon-point-down:before {
	content: "\e705";
}
.icon-point-left:before {
	content: "\e706";
}
.icon-warning:before {
	content: "\e707";
}
.icon-notification:before {
	content: "\e708";
}
.icon-question2:before {
	content: "\e709";
}
.icon-plus2:before {
	content: "\e70a";
}
.icon-minus2:before {
	content: "\e70b";
}
.icon-info2:before {
	content: "\e70c";
}
.icon-cancel-circle:before {
	content: "\e70d";
}
.icon-blocked:before {
	content: "\e70e";
}
.icon-cross:before {
	content: "\e70f";
}
.icon-checkmark:before {
	content: "\e710";
}
.icon-checkmark2:before {
	content: "\e711";
}
.icon-spell-check:before {
	content: "\e712";
}
.icon-enter:before {
	content: "\e713";
}
.icon-exit:before {
	content: "\e714";
}
.icon-play2:before {
	content: "\e715";
}
.icon-pause3:before {
	content: "\e716";
}
.icon-stop3:before {
	content: "\e717";
}
.icon-previous:before {
	content: "\e718";
}
.icon-next:before {
	content: "\e719";
}
.icon-backward3:before {
	content: "\e71a";
}
.icon-forward2:before {
	content: "\e71b";
}
.icon-play3:before {
	content: "\e71c";
}
.icon-pause2:before {
	content: "\e71d";
}
.icon-stop2:before {
	content: "\e71e";
}
.icon-backward2:before {
	content: "\e71f";
}
.icon-forward3:before {
	content: "\e720";
}
.icon-first:before {
	content: "\e721";
}
.icon-last:before {
	content: "\e722";
}
.icon-previous2:before {
	content: "\e723";
}
.icon-next2:before {
	content: "\e724";
}
.icon-eject2:before {
	content: "\e725";
}
.icon-volume-high:before {
	content: "\e726";
}
.icon-volume-medium:before {
	content: "\e727";
}
.icon-volume-low:before {
	content: "\e728";
}
.icon-volume-mute:before {
	content: "\e729";
}
.icon-volume-mute2:before {
	content: "\e72a";
}
.icon-volume-increase:before {
	content: "\e72b";
}
.icon-volume-decrease:before {
	content: "\e72c";
}
.icon-loop:before {
	content: "\e72d";
}
.icon-loop2:before {
	content: "\e72e";
}
.icon-infinite:before {
	content: "\e72f";
}
.icon-shuffle:before {
	content: "\e730";
}
.icon-arrow-up-left:before {
	content: "\e731";
}
.icon-arrow-up3:before {
	content: "\e732";
}
.icon-arrow-up-right:before {
	content: "\e733";
}
.icon-arrow-right3:before {
	content: "\e734";
}
.icon-arrow-down-right:before {
	content: "\e735";
}
.icon-arrow-down3:before {
	content: "\e736";
}
.icon-arrow-down-left:before {
	content: "\e737";
}
.icon-arrow-left3:before {
	content: "\e738";
}
.icon-arrow-up-left2:before {
	content: "\e739";
}
.icon-arrow-up2:before {
	content: "\e73a";
}
.icon-arrow-up-right2:before {
	content: "\e73b";
}
.icon-arrow-right2:before {
	content: "\e73c";
}
.icon-arrow-down-right2:before {
	content: "\e73d";
}
.icon-arrow-down2:before {
	content: "\e73e";
}
.icon-arrow-down-left2:before {
	content: "\e73f";
}
.icon-arrow-left2:before {
	content: "\e740";
}
.icon-circle-up:before {
	content: "\e741";
}
.icon-circle-right:before {
	content: "\e742";
}
.icon-circle-down:before {
	content: "\e743";
}
.icon-circle-left:before {
	content: "\e744";
}
.icon-tab:before {
	content: "\e745";
}
.icon-move-up:before {
	content: "\e746";
}
.icon-move-down:before {
	content: "\e747";
}
.icon-sort-alpha-asc2:before {
	content: "\e748";
}
.icon-sort-alpha-desc2:before {
	content: "\e749";
}
.icon-sort-numeric-asc2:before {
	content: "\e74a";
}
.icon-sort-numberic-desc:before {
	content: "\e74b";
}
.icon-sort-amount-asc2:before {
	content: "\e74c";
}
.icon-sort-amount-desc2:before {
	content: "\e74d";
}
.icon-command:before {
	content: "\e74e";
}
.icon-shift:before {
	content: "\e74f";
}
.icon-ctrl:before {
	content: "\e750";
}
.icon-opt:before {
	content: "\e751";
}
.icon-checkbox-checked:before {
	content: "\e752";
}
.icon-checkbox-unchecked:before {
	content: "\e753";
}
.icon-radio-checked:before {
	content: "\e754";
}
.icon-radio-checked2:before {
	content: "\e755";
}
.icon-radio-unchecked:before {
	content: "\e756";
}
.icon-crop2:before {
	content: "\e757";
}
.icon-make-group:before {
	content: "\e758";
}
.icon-ungroup:before {
	content: "\e759";
}
.icon-scissors:before {
	content: "\e75a";
}
.icon-filter2:before {
	content: "\e75b";
}
.icon-font2:before {
	content: "\e75c";
}
.icon-ligature:before {
	content: "\e75d";
}
.icon-ligature2:before {
	content: "\e75e";
}
.icon-text-height2:before {
	content: "\e75f";
}
.icon-text-width2:before {
	content: "\e760";
}
.icon-font-size:before {
	content: "\e761";
}
.icon-bold2:before {
	content: "\e762";
}
.icon-underline2:before {
	content: "\e763";
}
.icon-italic2:before {
	content: "\e764";
}
.icon-strikethrough2:before {
	content: "\e765";
}
.icon-omega:before {
	content: "\e766";
}
.icon-sigma:before {
	content: "\e767";
}
.icon-page-break:before {
	content: "\e768";
}
.icon-superscript3:before {
	content: "\e769";
}
.icon-subscript3:before {
	content: "\e76a";
}
.icon-superscript2:before {
	content: "\e76b";
}
.icon-subscript2:before {
	content: "\e76c";
}
.icon-text-color:before {
	content: "\e76d";
}
.icon-pagebreak:before {
	content: "\e76e";
}
.icon-clear-formatting:before {
	content: "\e76f";
}
.icon-table3:before {
	content: "\e770";
}
.icon-table2:before {
	content: "\e771";
}
.icon-insert-template:before {
	content: "\e772";
}
.icon-pilcrow:before {
	content: "\e773";
}
.icon-ltr:before {
	content: "\e774";
}
.icon-rtl:before {
	content: "\e775";
}
.icon-section:before {
	content: "\e776";
}
.icon-paragraph-left:before {
	content: "\e777";
}
.icon-paragraph-center:before {
	content: "\e778";
}
.icon-paragraph-right:before {
	content: "\e779";
}
.icon-paragraph-justify:before {
	content: "\e77a";
}
.icon-indent-increase:before {
	content: "\e77b";
}
.icon-indent-decrease:before {
	content: "\e77c";
}
.icon-share:before {
	content: "\e77d";
}
.icon-new-tab:before {
	content: "\e77e";
}
.icon-embed:before {
	content: "\e77f";
}
.icon-embed2:before {
	content: "\e780";
}
.icon-terminal2:before {
	content: "\e781";
}
.icon-share2:before {
	content: "\e782";
}
.icon-mail:before {
	content: "\e783";
}
.icon-mail2:before {
	content: "\e784";
}
.icon-mail3:before {
	content: "\e785";
}
.icon-mail4:before {
	content: "\e786";
}
.icon-google2:before {
	content: "\e787";
}
.icon-google-plus4:before {
	content: "\e788";
}
.icon-google-plus2:before {
	content: "\e789";
}
.icon-google-plus3:before {
	content: "\e78a";
}
.icon-google-drive:before {
	content: "\e78b";
}
.icon-facebook4:before {
	content: "\e78c";
}
.icon-facebook2:before {
	content: "\e78d";
}
.icon-facebook3:before {
	content: "\e78e";
}
.icon-ello:before {
	content: "\e78f";
}
.icon-instagram2:before {
	content: "\e790";
}
.icon-twitter4:before {
	content: "\e791";
}
.icon-twitter2:before {
	content: "\e792";
}
.icon-twitter3:before {
	content: "\e793";
}
.icon-feed2:before {
	content: "\e794";
}
.icon-feed3:before {
	content: "\e795";
}
.icon-feed4:before {
	content: "\e796";
}
.icon-youtube5:before {
	content: "\e797";
}
.icon-youtube2:before {
	content: "\e798";
}
.icon-youtube3:before {
	content: "\e799";
}
.icon-youtube4:before {
	content: "\e79a";
}
.icon-twitch2:before {
	content: "\e79b";
}
.icon-vimeo4:before {
	content: "\e79c";
}
.icon-vimeo2:before {
	content: "\e79d";
}
.icon-vimeo3:before {
	content: "\e79e";
}
.icon-lanyrd:before {
	content: "\e79f";
}
.icon-flickr5:before {
	content: "\e7a0";
}
.icon-flickr2:before {
	content: "\e7a1";
}
.icon-flickr3:before {
	content: "\e7a2";
}
.icon-flickr4:before {
	content: "\e7a3";
}
.icon-picassa:before {
	content: "\e7a4";
}
.icon-picassa2:before {
	content: "\e7a5";
}
.icon-dribbble4:before {
	content: "\e7a6";
}
.icon-dribbble2:before {
	content: "\e7a7";
}
.icon-dribbble3:before {
	content: "\e7a8";
}
.icon-forrst:before {
	content: "\e7a9";
}
.icon-forrst2:before {
	content: "\e7aa";
}
.icon-deviantart3:before {
	content: "\e7ab";
}
.icon-deviantart2:before {
	content: "\e7ac";
}
.icon-steam3:before {
	content: "\e7ad";
}
.icon-steam2:before {
	content: "\e7ae";
}
.icon-dropbox2:before {
	content: "\e7af";
}
.icon-onedrive:before {
	content: "\e7b0";
}
.icon-github6:before {
	content: "\e7b1";
}
.icon-github2:before {
	content: "\e7b2";
}
.icon-github3:before {
	content: "\e7b3";
}
.icon-github4:before {
	content: "\e7b4";
}
.icon-github5:before {
	content: "\e7b5";
}
.icon-wordpress3:before {
	content: "\e7b6";
}
.icon-wordpress2:before {
	content: "\e7b7";
}
.icon-joomla2:before {
	content: "\e7b8";
}
.icon-blogger:before {
	content: "\e7b9";
}
.icon-blogger2:before {
	content: "\e7ba";
}
.icon-tumblr3:before {
	content: "\e7bb";
}
.icon-tumblr2:before {
	content: "\e7bc";
}
.icon-yahoo2:before {
	content: "\e7bd";
}
.icon-tux:before {
	content: "\e7be";
}
.icon-apple2:before {
	content: "\e7bf";
}
.icon-finder:before {
	content: "\e7c0";
}
.icon-android2:before {
	content: "\e7c1";
}
.icon-windows2:before {
	content: "\e7c2";
}
.icon-windows8:before {
	content: "\e7c3";
}
.icon-soundcloud3:before {
	content: "\e7c4";
}
.icon-soundcloud2:before {
	content: "\e7c5";
}
.icon-skype2:before {
	content: "\e7c6";
}
.icon-reddit2:before {
	content: "\e7c7";
}
.icon-linkedin3:before {
	content: "\e7c8";
}
.icon-linkedin2:before {
	content: "\e7c9";
}
.icon-lastfm3:before {
	content: "\e7ca";
}
.icon-lastfm2:before {
	content: "\e7cb";
}
.icon-delicious2:before {
	content: "\e7cc";
}
.icon-stumbleupon3:before {
	content: "\e7cd";
}
.icon-stumbleupon2:before {
	content: "\e7ce";
}
.icon-stackoverflow:before {
	content: "\e7cf";
}
.icon-pinterest3:before {
	content: "\e7d0";
}
.icon-pinterest2:before {
	content: "\e7d1";
}
.icon-xing3:before {
	content: "\e7d2";
}
.icon-xing2:before {
	content: "\e7d3";
}
.icon-flattr:before {
	content: "\e7d4";
}
.icon-foursquare2:before {
	content: "\e7d5";
}
.icon-paypal4:before {
	content: "\e7d6";
}
.icon-paypal2:before {
	content: "\e7d7";
}
.icon-paypal3:before {
	content: "\e7d8";
}
.icon-yelp2:before {
	content: "\e7d9";
}
.icon-file-pdf:before {
	content: "\e7da";
}
.icon-file-openoffice:before {
	content: "\e7db";
}
.icon-file-word:before {
	content: "\e7dc";
}
.icon-file-excel:before {
	content: "\e7dd";
}
.icon-libreoffice:before {
	content: "\e7de";
}
.icon-html53:before {
	content: "\e7df";
}
.icon-html52:before {
	content: "\e7e0";
}
.icon-css32:before {
	content: "\e7e1";
}
.icon-git2:before {
	content: "\e7e2";
}
.icon-svg:before {
	content: "\e7e3";
}
.icon-codepen2:before {
	content: "\e7e4";
}
.icon-chrome2:before {
	content: "\e7e5";
}
.icon-firefox2:before {
	content: "\e7e6";
}
.icon-IE:before {
	content: "\e7e7";
}
.icon-opera2:before {
	content: "\e7e8";
}
.icon-safari2:before {
	content: "\e7e9";
}
.icon-IcoMoon:before {
	content: "\e7ea";
}
