/* line 1, ../sass/_elements.scss */
.slide-checkbox {
  width: 60px;
  height: 26px;
  background: #333;
  position: relative;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 13, ../sass/_elements.scss */
.slide-checkbox input {
  display: none;
}

/* line 18, ../sass/_elements.scss */
.slide-checkbox:after {
  content: 'OFF';
  font: 10px/27px Arial, sans-serif;
  color: #000;
  position: absolute;
  right: 4px;
  z-index: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
  color: #cc0000;
  text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.3);
}

/* line 31, ../sass/_elements.scss */
.slide-checkbox:before {
  content: 'ON';
  font: 10px/27px Arial, sans-serif;
  color: #00bf00;
  position: absolute;
  left: 7px;
  z-index: 0;
  font-weight: bold;
}

/* line 41, ../sass/_elements.scss */
.slide-checkbox label {
  display: block;
  width: 30px;
  height: 20px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 72, ../sass/_elements.scss */
.slide-checkbox input[type=checkbox]:checked + label {
  left: 27px;
}

/* line 81, ../sass/_elements.scss */
.infinity-button {
  display: inline-block;
  padding: 10px 15px;
  margin-right: 5px;
  color: white;
  background: #36393b;
  cursor: pointer;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
/* line 90, ../sass/_elements.scss */
.infinity-button:hover {
  background: #bedcfe;
  color: #36393b;
}

/* line 97, ../sass/_elements.scss */
.infinity-textfield {
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 103, ../sass/_elements.scss */
.ace-editor {
  width: 100%;
  min-width: 100px;
  min-height: 500px;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 112, ../sass/_elements.scss */
.tabbedcontent-tabs {
  margin: 10px 0 0 0 !important;
  padding: 0 0 0 10px !important;
  border-bottom: 3px solid #36393b !important;
}
/* line 119, ../sass/_elements.scss */
.tabbedcontent-tabs li {
  display: inline-block;
}
/* line 122, ../sass/_elements.scss */
.tabbedcontent-tabs li a {
  display: inline-block;
  padding: 5px 10px;
  color: #36393b;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
/* line 131, ../sass/_elements.scss */
.tabbedcontent-tabs li.active a, .tabbedcontent-tabs li:hover a {
  border: 1px solid;
  border-bottom: none;
  background: #36393b;
  color: white;
  text-decoration: none;
  text-shadow: 0px 0px 5px white;
}

/* line 143, ../sass/_elements.scss */
.variables-description {
  padding: 10px;
  background: rgba(0, 128, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
}

/* line 4, ../sass/infinity.dashboard.scss */
.infinity-dashboard {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'caviar_dreams', 'sans_serif';
  background: #eee;
  border-bottom: 2px solid #36393b;
  border-top: 2px solid #36393b;
}
/* line 12, ../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.infinity-dashboard:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 12, ../sass/infinity.dashboard.scss */
.infinity-dashboard#edit-dashboard {
  padding-top: 0;
}
/* line 16, ../sass/infinity.dashboard.scss */
.infinity-dashboard img {
  max-width: 100%;
  height: auto;
}
/* line 22, ../sass/infinity.dashboard.scss */
.infinity-dashboard ul, .infinity-dashboard li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 28, ../sass/infinity.dashboard.scss */
.infinity-dashboard .sidebar-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  background: #36393b;
  content: "";
  z-index: 0;
  width: 20%;
  float: left;
  margin-left: 0;
  margin-right: -100%;
}
/* line 38, ../sass/infinity.dashboard.scss */
.infinity-dashboard .sidebar {
  position: relative;
  width: 20%;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  color: #bedcfe;
  background: #36393b;
}
/* line 44, ../sass/infinity.dashboard.scss */
.infinity-dashboard .sidebar .header {
  cursor: pointer;
  text-align: center;
  border-bottom: 3px solid #bedcfe;
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
/* line 50, ../sass/infinity.dashboard.scss */
.infinity-dashboard .sidebar .header h2 {
  text-shadow: 0px 0px 20px rgba(190, 220, 254, 0.5);
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
/* line 55, ../sass/infinity.dashboard.scss */
.infinity-dashboard .sidebar .header img {
  width: 50%;
}
/* line 60, ../sass/infinity.dashboard.scss */
.infinity-dashboard .sidebar .header:hover h2 {
  text-shadow: 0px 0px 50px #bedcfe;
}
/* line 66, ../sass/infinity.dashboard.scss */
.infinity-dashboard .sidebar #sidebar-links {
  margin: 0;
  padding: 0;
}
/* line 71, ../sass/infinity.dashboard.scss */
.infinity-dashboard .sidebar li {
  padding: 10px 15px;
  font-size: 1.2em;
  cursor: pointer;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  text-shadow: 0px 0px 10px rgba(54, 57, 59, 0);
}
/* line 78, ../sass/infinity.dashboard.scss */
.infinity-dashboard .sidebar li .infinity-icon {
  vertical-align: middle;
  width: 20px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  padding-right: 0;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
/* line 88, ../sass/infinity.dashboard.scss */
.infinity-dashboard .sidebar li.current, .infinity-dashboard .sidebar li.active, .infinity-dashboard .sidebar li:hover {
  background: #bedcfe;
  color: #36393b;
  text-shadow: 0px 0px 10px rgba(54, 57, 59, 0.5);
}
/* line 95, ../sass/infinity.dashboard.scss */
.infinity-dashboard .sidebar li.current .infinity-icon, .infinity-dashboard .sidebar li.active .infinity-icon, .infinity-dashboard .sidebar li:hover .infinity-icon {
  padding-right: 5px;
}
/* line 103, ../sass/infinity.dashboard.scss */
.infinity-dashboard .content {
  color: #36393b;
  padding: 10px;
  width: 80%;
  float: left;
  margin-left: 20%;
  margin-right: -100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 109, ../sass/infinity.dashboard.scss */
.infinity-dashboard .content .section {
  display: none;
}
/* line 112, ../sass/infinity.dashboard.scss */
.infinity-dashboard .content .section.active {
  display: block;
}

/* line 3, ../sass/_form.scss */
.choice {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 15px 0;
}
/* line 12, ../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.choice:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 7, ../sass/_form.scss */
.choice .control-label {
  cursor: pointer;
  font-weight: 400;
  width: 20%;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  -webkit-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  -ms-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 14, ../sass/_form.scss */
.choice .control-label:hover {
  font-weight: 900;
  padding-left: 5px;
}
/* line 20, ../sass/_form.scss */
.choice .control {
  width: 80%;
  float: left;
  margin-left: 20%;
  margin-right: -100%;
}

/* line 25, ../sass/_form.scss */
.actions {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 15px 0;
}
/* line 12, ../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.actions:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 31, ../sass/_form.scss */
.morph-widget {
  position: relative;
}
/* line 34, ../sass/_form.scss */
.morph-widget .morph-trigger {
  position: relative;
  z-index: 1;
  -webkit-transition: none 0.2s linear 0s;
  -moz-transition: none 0.2s linear 0s;
  -ms-transition: none 0.2s linear 0s;
  -o-transition: none 0.2s linear 0s;
  transition: none 0.2s linear 0s;
}
/* line 40, ../sass/_form.scss */
.morph-widget .morph-content {
  position: absolute;
  top: 0;
  left: 0;
  background: #36393b;
  color: white;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 50, ../sass/_form.scss */
.morph-widget .morph-content .m-header {
  padding: 10px 15px;
}
/* line 54, ../sass/_form.scss */
.morph-widget .morph-content .m-content {
  padding: 2px 10px;
}
/* line 65, ../sass/_form.scss */
.morph-widget.show .morph-content {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 4, ../sass/_items.scss */
.items-category-title {
  margin: 50px 0 5px 0;
  padding-left: 10px;
  border-left: 5px solid #36393b;
}

/* line 10, ../sass/_items.scss */
.items-holder {
  border-top: 3px solid #36393b;
  border-bottom: 3px solid #36393b;
}
/* line 15, ../sass/_items.scss */
.items-holder .item {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 1px solid #36393b;
  border-bottom: none;
  min-height: 55px;
}
/* line 12, ../../../../../../../../../../../usr/local/rvm/gems/ruby-2.1.5/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
.items-holder .item:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 22, ../sass/_items.scss */
.items-holder .item:last-child {
  border-bottom: 1px solid #36393b;
}
/* line 26, ../sass/_items.scss */
.items-holder .item.even {
  background: rgba(54, 57, 59, 0.3);
}
/* line 30, ../sass/_items.scss */
.items-holder .item .item-name {
  width: 80%;
  float: left;
}
/* line 33, ../sass/_items.scss */
.items-holder .item .item-name .item-label {
  cursor: pointer;
}
/* line 38, ../sass/_items.scss */
.items-holder .item .item-description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #4a4d4f;
  padding-left: 10px;
}
/* line 47, ../sass/_items.scss */
.items-holder .item .item-link .infinity-icon {
  vertical-align: baseline;
}
/* line 52, ../sass/_items.scss */
.items-holder .item .item-operations {
  width: 20%;
  float: left;
}
/* line 55, ../sass/_items.scss */
.items-holder .item .item-operations .slide-checkbox {
  float: right;
}

/* line 3, ../sass/_colors.scss */
.colorbox {
  width: 25px;
  height: 25px;
  background: white;
  color: white;
  cursor: pointer;
  border: 2px solid #bedcfe;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/_colors.scss */
#new-color .m-content .choice {
  position: relative;
}
/* line 20, ../sass/_colors.scss */
#new-color .m-content .choice .colorbox {
  position: absolute;
}
/* line 24, ../sass/_colors.scss */
#new-color .m-content .choice .infinity-textfield {
  padding-left: 30px;
}
/* line 29, ../sass/_colors.scss */
#new-color .m-content input.infinity-textfield {
  width: 100%;
}

/* line 36, ../sass/_colors.scss */
.new-color .colorbox {
  display: inline-block;
  height: 35px;
  width: 35px;
  border: 3px solid #3e885b;
}
/* line 43, ../sass/_colors.scss */
.new-color .infinity-button {
  line-height: 35px;
  height: 35px;
  padding: 0 12px;
  background: #3e885b;
}

/* line 51, ../sass/_colors.scss */
.color-item {
  margin: 5px 0;
}
/* line 55, ../sass/_colors.scss */
.color-item.default, .color-item.new {
  display: none;
}
/* line 60, ../sass/_colors.scss */
.color-item .colorbox {
  display: inline-block;
  height: 35px;
  width: 35px;
  border: 3px solid #36393b;
}
/* line 67, ../sass/_colors.scss */
.color-item .color-name {
  display: inline-block;
}
/* line 70, ../sass/_colors.scss */
.color-item .color-name input {
  background: #36393b;
  color: white;
  height: 35px;
  padding: 0 10px;
  border: 1px solid #36393b;
  outline: none;
}
/* line 81, ../sass/_colors.scss */
.color-item .color-remove {
  line-height: 35px;
  height: 35px;
  padding: 0 12px;
}

/* line 88, ../sass/_colors.scss */
.color-demo {
  width: 5px;
  height: 5px;
  margin-right: 5px;
  display: inline-block;
  border: 2px solid #36393b;
}

/* line 5, ../sass/_typography.scss */
.new-font .font-name,
.font-item .font-name {
  display: inline-block;
  float: left;
}
/* line 10, ../sass/_typography.scss */
.new-font .font-name .infinity-textfield,
.font-item .font-name .infinity-textfield {
  display: inline-block;
  height: 35px;
  border-bottom: 3px solid #3e885b;
  outline: none;
  background: transparent;
}
/* line 18, ../sass/_typography.scss */
.new-font .infinity-button,
.font-item .infinity-button {
  line-height: 35px;
  height: 35px;
  padding: 0 12px;
  background: #3e885b;
}
/* line 25, ../sass/_typography.scss */
.new-font .font-demo,
.font-item .font-demo {
  display: inline-block;
}

/* line 30, ../sass/_typography.scss */
.font-item {
  margin: 5px 0;
}
/* line 33, ../sass/_typography.scss */
.font-item.default, .font-item.new {
  display: none;
}

/* line 5, ../sass/_icons.scss */
#section-icons iframe {
  border-top: 3px solid #36393b;
}

/* line 5, ../sass/_custom.scss */
#section-custom .editor-wrapper {
  width: 48%;
  display: inline-block;
  min-height: 200px;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 13, ../sass/_custom.scss */
#section-custom .editor-wrapper .editor {
  width: 100%;
  min-height: 500px;
}
/* line 18, ../sass/_custom.scss */
#section-custom .editor-wrapper h3 {
  border-bottom: 2px solid #36393b;
}

/* line 2, ../sass/_profiles.scss */
.new-profile .profile-name {
  display: inline-block;
  float: left;
}
/* line 7, ../sass/_profiles.scss */
.new-profile .profile-name .infinity-textfield {
  display: inline-block;
  height: 35px;
  border-bottom: 3px solid #3e885b;
  outline: none;
  background: transparent;
}
/* line 15, ../sass/_profiles.scss */
.new-profile .infinity-button {
  line-height: 35px;
  height: 35px;
  padding: 0 12px;
  background: #3e885b;
  border: none;
}

/* line 26, ../sass/_profiles.scss */
.profiles-holder .item-operations .infinity-button {
  border: none !important;
  width: 100%;
  margin: 2px 0;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-family: 'caviar_dreams', 'sans_serif';
}
/* line 35, ../sass/_profiles.scss */
.profiles-holder .item-operations .infinity-button:hover {
  text-decoration: none;
}
