@import 'init';

.colorbox{
  width:25px;
  height:25px;
  background:white;
  color:white;
  cursor:pointer;
  border:2px solid $color4;
  // @include box-shadow(0px 0px 10px $color4);
  @include box-sizing(border-box);
}

#new-color{

  .m-content{
    .choice{
      position:relative;

      .colorbox{
        position:absolute;
      }

      .infinity-textfield{
        padding-left:30px;
      }
    }

    input.infinity-textfield{
      width:100%;
    }
  }
}

.new-color{
  .colorbox{
    display:inline-block;
    height:35px;
    width:35px;
    border:3px solid $color2;
  }

  .infinity-button{
    line-height:35px;
    height:35px;
    padding:0 12px;
    background:$color2;
  }
}

.color-item{

  margin:5px 0;

  &.default,
  &.new{
    display:none;
  }

  .colorbox{
    display:inline-block;
    height:35px;
    width:35px;
    border:3px solid $color1;
  }

  .color-name{
    display:inline-block;

    input{
      background:$color1;
      color: white;
      height:35px;
      padding:0 10px;
      border:1px solid $color1;
      outline:none;
    }

  }

  .color-remove{
    line-height:35px;
    height:35px;
    padding:0 12px;
  }
}

.color-demo{
  width:5px;
  height:5px;
  margin-right:5px;
  display:inline-block;
  border:2px solid $color1;
}
