@import "init";

#section-custom{

  .editor-wrapper{

    width:48%;
    display:inline-block;
    min-height:200px;
    padding:5px;
    @include box-sizing(border-box);

    .editor{
      width:100%;
      min-height:500px;
    }

    h3{
      border-bottom:2px solid $color1;
    }
  }


}
