.slide-checkbox {
	width: 60px;
	height: 26px;
	background: #333;

	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	@include border-radius(5px);

	input{
		display:none;
	}
}

.slide-checkbox:after {
	content: 'OFF';
	font: 10px/27px Arial, sans-serif;
	color: #000;
	position: absolute;
	right: 4px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
	color:shade(red,20);
	@include text-shadow(0px 0px 10px rgba(red,0.3));
}

.slide-checkbox:before {
	content: 'ON';
	font: 10px/27px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 7px;
	z-index: 0;
	font-weight: bold;
}

.slide-checkbox label {
	display: block;
	width: 30px;
	height: 20px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );

	@include border-radius(5px);
}

.slide-checkbox input[type=checkbox]:checked + label {
	left: 27px;
}

.infinity-icon{
	// vertical-align:middle;
}

// Button
.infinity-button{
	display:inline-block;
	padding:10px 15px;
	margin-right:5px;
	color:white;
	background:$color1;
	cursor:pointer;
	@include transitions();

	&:hover{
		background:$color4;
		color: $color1;
	}
}

// input text
.infinity-textfield{
	padding:5px;
	@include box-sizing(border-box);
}

// Ace editor
.ace-editor{
	width:100%;
	min-width:100px;
	min-height:500px;
	padding:10px;
	@include box-sizing(border-box);
}

// Tabs
.tabbedcontent-tabs{

	margin:10px 0 0 0 !important;
	padding:0 0 0 10px !important;

	border-bottom:3px solid $color1!important;

	li{
		display:inline-block;

		a{
			display:inline-block;
			padding:5px 10px;
			color:$color1;
			@include transitions();
		}

		&.active,
		&:hover{
			a{
				border:1px solid;
				border-bottom:none;
				background:$color1;
				color:white;
				text-decoration:none;
				@include text-shadow(0px 0px 5px white);
			}
		}
	}
}

.variables-description{
  padding:10px;
  background:rgba(green,0.2);
	max-height:150px;
	overflow-y:auto;
}
