@import "init";

.choice{
  @include container();
  margin:15px 0;

  .control-label{
    cursor:pointer;
    font-weight:400;
    @include span(20% isolate at 0);
    @include transitions();
    @include box-sizing(border-box);

    &:hover{
      font-weight:900;
      padding-left:5px;
    }
  }

  .control{
    @include span(80% isolate at 20%);
  }
}

.actions{
  @include container();
  margin:15px 0;
}


.morph-widget{
  position:relative;

  .morph-trigger{
    position:relative;
    z-index:1;
    @include transitions(none);
  }

  .morph-content{
    position:absolute;
    top:0;
    left:0;

    background:$color1;
    color:white;
    display:inline-block;
    @include opacity(0);

    .m-header{
      padding:10px 15px;
    }

    .m-content{
      padding:2px 10px;
    }
  }

  &.show{

    .morph-trigger{
      // @include opacity(0);
    }

    .morph-content{
      @include opacity(1);
    }

  }
}
