@import "init";


.items-category-title{
  margin:50px 0 5px 0;
  padding-left:10px;
  border-left:5px solid $color1;
}

.items-holder{

  border-top:3px solid $color1;
  border-bottom:3px solid $color1;

  .item{
    @include container();
    padding:5px;
    border:1px solid $color1;
    border-bottom:none;
    min-height:55px;

    &:last-child{
      border-bottom:1px solid $color1;
    }

    &.even{
      background:rgba($color1,0.3);
    }

    .item-name{
      @include span(80% no-gutters);

      .item-label{
        cursor:pointer;
      }
    }

    .item-description{
      margin: 5px 0;
      line-height: 1.231em;
      font-size: 0.923em;
      color: tint($color1,10);
      padding-left:10px;
    }

    .item-link{
      .infinity-icon{
        vertical-align:baseline;
      }
    }

    .item-operations{
      @include span(20% no-gutters);

      .slide-checkbox{
        float:right;
      }
    }
  }

}
