// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

@mixin transitions($props:all, $duration:0.2s, $delay:0s,$timing-function:linear){
	//@include transition-property($props);
	//@include transition-duration($duration);
	//@include transition-delay($delay);
  //@include transition-timing-function($timing-function)

  @include experimental('transition', $props $duration $timing-function $delay, webkit,moz,o,ms,khtml);

}

@mixin gb-animation($name:none,$duration:1s,$delay:0s,$iteration:1,$timing-function:linear){
	@if($name != none){
		//@include experimental('animation-name', $name, webkit, moz, o, ms, khtml);
	}

	//@include experimental('animation-duration', $duration, webkit, moz, o, ms, khtml);
	//@include experimental('animation-delay', $delay, webkit, moz, o, ms, khtml);
	//@include experimental('animation-timing-function', $timing-function, webkit, moz, o, ms, khtml);
	//@include experimental('animation-iteration-count', $iteration, webkit, moz, o, ms, khtml);

	@include experimental('animation', $name $duration $timing-function $delay $iteration, webkit,moz,o,ms,khtml);

}

@mixin animation-delay($delay:0s){
  @include experimental('animation-delay', $delay, webkit, moz, o, ms, khtml);
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
}

@mixin gb-breakpoint($width) {
	@media (min-width:$width){
		@content;
	}
}
