.new-profile{
  .profile-name{
    display:inline-block;
    float:left;
  }

  .profile-name .infinity-textfield{
    display:inline-block;
    height:35px;
    border-bottom:3px solid $color2;
    outline:none;
    background:transparent;
  }

  .infinity-button{
    line-height:35px;
    height:35px;
    padding:0 12px;
    background:$color2;
    border:none;
  }
}

.profiles-holder{
  .item-operations{
    .infinity-button{
      border:none!important;
      width:100%;
      margin:2px 0;
      padding:10px ;
      @include box-sizing(border-box);
      text-align:center;
      font-family:'caviar_dreams', 'sans_serif';

      &:hover{
        text-decoration:none;
      }
    }
  }

}
