@import "init";

.new-font,
.font-item{
  .font-name{
    display:inline-block;
    float:left;
  }

  .font-name .infinity-textfield{
    display:inline-block;
    height:35px;
    border-bottom:3px solid $color2;
    outline:none;
    background:transparent;
  }

  .infinity-button{
    line-height:35px;
    height:35px;
    padding:0 12px;
    background:$color2;
  }

  .font-demo{
    display:inline-block;
  }
}

.font-item{
  margin:5px 0;

  &.default,
  &.new{
    display:none;
  }
}
