@import "init";
@import "elements";

.infinity-dashboard{
  position:relative;
  @include container();
  font-family:'caviar_dreams', 'sans_serif';
  background:#eee;
  border-bottom:2px solid $color1;
  border-top:2px solid $color1;

  &#edit-dashboard{
    padding-top:0;
  }

  img{
    max-width:100%;
    height:auto;
  }


  ul,li{
    margin:0;
    padding:0;
    list-style:none;
  }

  .sidebar-bg{
    position:absolute;
    top:0;
    bottom:0;
    background:$color1;
    content:"";
    z-index:0;
    @include span(20% isolate at 0);
  }

  .sidebar{
    position:relative;
    @include span(20% isolate at 0);
    color:$color4;
    background:$color1;

    .header{
      cursor:pointer;
      text-align:center;
      border-bottom:3px solid $color4;
      @include box-shadow(0px 5px 10px rgba(black,0.2));

      h2{
        @include text-shadow(0px 0px 20px rgba($color4,0.5));
        @include transitions();
      }

      img{
        width:50%;
      }

      &:hover{
        h2{
          @include text-shadow(0px 0px 50px rgba($color4,1));
        }
      }
    }

    #sidebar-links{
      margin:0;
      padding:0;
    }

    li{
      padding:10px 15px;
      font-size:1.2em;
      cursor:pointer;
      @include transitions();
      @include text-shadow(0px 0px 10px rgba($color1,0));

      .infinity-icon{
        vertical-align:middle;
        width:20px;
        text-align:center;
        display:inline-block;
        margin-right:10px;
        padding-right:0;
        @include transitions();
      }

      &.current,
      &.active,
      &:hover{
        background:$color4;
        color:$color1;
        @include text-shadow(0px 0px 10px rgba($color1,0.5));

        .infinity-icon{
          padding-right:5px;
        }
      }
    }

  }

  .content{
    color:$color1;
    padding:10px;
    @include span(80% isolate at 20%);
    @include box-sizing(border-box);

    .section{
      display:none;

      &.active{
        display:block;
      }
    }
  }
}

// Common styles
@import "form";
@import "items";

// Dashboard sections
@import "grids";
@import "colors";
@import "typography";
@import "icons";
@import "custom";
@import "profiles";
